#Subway Data

In [2]:
import csv
import datetime
import os
import pandas as pd

from sets import Set
from dateutil.parser import parse
import matplotlib.pyplot as plt

import requests
import urllib2

from bs4 import BeautifulSoup as bs

%matplotlib inline
pd.options.display.mpl_style = 'default'

## Single File

### Quick Overview

Firstly, I'm going to load in one file from an earlier that I've manually downloaded from the MTA website at http://web.mta.info/developers/turnstile.html. After I get a sense of one subset of the data and how to clean it, I'll make a script to download all of the data files, clean and combine them.

In [73]:
filename = "data/turnstile/turnstile_110528.txt"
df_turnstile = pd.read_csv(filename)
df_turnstile.head(2)

,A002,R051,02-00-00,05-21-11,00:00:00,REGULAR,003169391,001097585,05-21-11.1,04:00:00,...,05-22-11,00:00:00.1,REGULAR.6,003170119,001097792,05-22-11.1,04:00:00.1,REGULAR.7,003170146,001097801
0,A002,R051,02-00-00,05-22-11,08:00:00,REGULAR,3170164,1097820,05-22-11,12:00:00,...,05-23-11,08:00:00,REGULAR,3170746,1098069,05-23-11,12:00:00,REGULAR,3170897,1098378
1,A002,R051,02-00-00,05-23-11,16:00:00,REGULAR,3171194,1098447,05-23-11,20:00:00,...,05-24-11,16:00:00,REGULAR,3172689,1099010,05-24-11,20:00:00,REGULAR,3173590,1099055

In [78]:
df_turnstile.shape

(998, 43)

There are 998 rows and an overwhelming 43 columns in this dataset. This file was written in a way where multiple observations share the same row. As a result the MTA data is notoriously difficult to work with. As adaptable as the pandas module is, it can't infer this kind of error and correct it. So I'll have to manually do it myself.

Looking at the time and date columns, it's clear that each file spans exactly one week at 4 hour intervals. The time diference between each consecutive row is 32 hours.

The MTA website labels the data as follows: 'C/A, UNIT, SCP, DATEn, TIMEn, DESCn, ENTRIESn, EXITSn'. The first 3 columns are identification data. Then elements should be chopped from the original data, 5 elements at a time and written into the new file. Next is a sequence of columns with a timestamp, type of report, entry count, and exit count, which repeats 8 times! This figure lines up with the shape of our dataframe (3 + (5 x 8)) = 43.

### Restructuring the data

In [20]:
def fix_turnstile_data(filepath):
    '''
    Filepath is a location of a MTA Subway turnstile text file.A link to an example
    MTA Subway turnstile text file can be seen at the URL below:
    http://web.mta.info/developers/data/nyct/turnstile/turnstile_110507.txt
    
    There are numerous data points included in each row of the text file. 

    This function updates each row in the text file so there is only one entry per row.
    A few examples below:
    A002,R051,02-00-00,05-28-11,00:00:00,REGULAR,003178521,001100739
    A002,R051,02-00-00,05-28-11,04:00:00,REGULAR,003178541,001100746
    A002,R051,02-00-00,05-28-11,08:00:00,REGULAR,003178559,001100775
    
    This file is then written into a new related directory.
    '''
    
    for file in filepath:
        
        # Parse the directory and filename from the input.
        splitted = file.split('/')
        directory, filename = splitted[0:2], splitted[2]

        # Read the file into memory.
        r = csv.reader(open(file, 'rb'))

        # Prepare the output directory.
        newpath = "data/turnstile/updated_data"
        #newpath = 'data/turnstile'
        
        if not os.path.exists(newpath): 
            os.makedirs(newpath)

        # Create the output file in the new directory. Overwrite the file if it exists already(wb).
        w = csv.writer(open("{0}/{1}".format(newpath, filename), 'wb'))

        # Write the header row, taken from the mta website.
        w.writerow(['C/A', 'UNIT', 'SCP', 'DATEn', 'TIMEn', 'DESCn', 'ENTRIESn', 'EXITSn'])

        # Loop through the output from the CSV reader a line at a time.
        for line in r:

            # Parse out the elements, and remove them from the row.
            ca = line.pop(0)
            unit = line.pop(0)
            scp = line.pop(0)

            # While there is still new data, parse it.
            while len(line) >= 5:

                # Take the first 5 elements and remove them.
                block, line = line[:5], line[5:]

                # Output the new row.
                w.writerow([ca, unit, scp] + block)

As it turns out, the MTA have been overhauling their data collection. Their website, API and even the data recording method have changed. The new files are all structured nicely, meaning that the previous work was unneccessary. Oh well, it was good data munging practice at least!

In [2]:
# Load in a new, recent record.
newfile = 'data/turnstile/150502.txt'

#df = pd.read_csv(newfile, sep=r"\s+")
#df = pd.read_csv(newfile, skipinitialspace=True)
df = pd.read_csv(newfile)
df.head(2)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/25/2015,00:00:00,REGULAR,5106770,1729635
1,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/25/2015,04:00:00,REGULAR,5106810,1729649

In [3]:
df.columns.values

array(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE',
       'TIME', 'DESC', 'ENTRIES',
       'EXITS                                                               '], dtype=object)

There's trailing white space after EXITS, need to manually deal with it.

In [4]:
df.columns = ['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME', 'DESC', 'ENTRIES', 'EXITS']

### Observations not on the Hour

In [5]:
filter_onhour = [((pd.to_datetime(df.TIME[n])).minute != 0) for n in range(len(df))]

In [6]:
df[filter_onhour].head(2)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
1707,A013,R081,01-00-00,49 ST-7 AVE,NQR,BMT,04/29/2015,08:12:40,REGULAR,5270306,30939048
1750,A013,R081,01-03-00,49 ST-7 AVE,NQR,BMT,04/29/2015,08:12:40,REGULAR,2911534,3345354

In [7]:
df.ix[[1706, 1707, 1708]]

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
1706,A013,R081,01-00-00,49 ST-7 AVE,NQR,BMT,04/29/2015,08:00:00,REGULAR,5270301,30938948
1707,A013,R081,01-00-00,49 ST-7 AVE,NQR,BMT,04/29/2015,08:12:40,REGULAR,5270306,30939048
1708,A013,R081,01-00-00,49 ST-7 AVE,NQR,BMT,04/29/2015,12:00:00,REGULAR,5270372,30940882

In [8]:
df2 = df.drop(list(df.loc[filter_onhour].index))

In [9]:
df2 = df2.reset_index()

In [10]:
df = df2
del df['index']

In [11]:
df.ix[[1706]]

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
1706,A013,R081,01-00-00,49 ST-7 AVE,NQR,BMT,04/29/2015,08:00:00,REGULAR,5270301,30938948

###Entries and Exits

In [12]:
df[df.ENTRIES == 0].head(5)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
420,A002,R051,02-05-01,LEXINGTON AVE,NQR456,BMT,04/25/2015,00:00:00,REGULAR,0,593
421,A002,R051,02-05-01,LEXINGTON AVE,NQR456,BMT,04/25/2015,04:00:00,REGULAR,0,593
422,A002,R051,02-05-01,LEXINGTON AVE,NQR456,BMT,04/25/2015,08:00:00,REGULAR,0,593
423,A002,R051,02-05-01,LEXINGTON AVE,NQR456,BMT,04/25/2015,12:00:00,REGULAR,0,593
424,A002,R051,02-05-01,LEXINGTON AVE,NQR456,BMT,04/25/2015,16:00:00,REGULAR,0,593

In [13]:
#df.groupby(['SCP', 'DATE']).plot(x='TIME', y='ENTRIES')
#plt.show()

####Taking One Day

In [198]:
df1 = df[df.DATE == '05/01/2015']

In [199]:
df1

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
36,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,00:00:00,REGULAR,5115461,1732389
37,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,04:00:00,REGULAR,5115480,1732394
38,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,08:00:00,REGULAR,5115524,1732482
39,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,12:00:00,REGULAR,5115678,1732624
40,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,16:00:00,REGULAR,5115998,1732647
41,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,20:00:00,REGULAR,5116883,1732666
78,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/01/2015,00:00:00,REGULAR,4738746,1034160
79,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/01/2015,04:00:00,REGULAR,4738761,1034161
80,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/01/2015,08:00:00,REGULAR,4738804,1034199
81,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/01/2015,12:00:00,REGULAR,4738969,1034274
82,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/01/2015,16:00:00,REGULAR,4739263,1034296
83,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/01/2015,20:00:00,REGULAR,4740008,1034303
120,A002,R051,02-03-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,00:00:00,REGULAR,488569,1842807
121,A002,R051,02-03-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,04:00:00,REGULAR,488577,1842817
122,A002,R051,02-03-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,08:00:00,REGULAR,488593,1843078
123,A002,R051,02-03-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,12:00:00,REGULAR,488655,1843561
124,A002,R051,02-03-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,16:00:00,REGULAR,488802,1843726
125,A002,R051,02-03-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,20:00:00,REGULAR,489193,1843971
162,A002,R051,02-03-01,LEXINGTON AVE,NQR456,BMT,05/01/2015,00:00:00,REGULAR,4684600,7368230
163,A002,R051,02-03-01,LEXINGTON AVE,NQR456,BMT,05/01/2015,04:00:00,REGULAR,4684636,7368244
164,A002,R051,02-03-01,LEXINGTON AVE,NQR456,BMT,05/01/2015,08:00:00,REGULAR,4684691,7368553
165,A002,R051,02-03-01,LEXINGTON AVE,NQR456,BMT,05/01/2015,12:00:00,REGULAR,4684873,7369311
166,A002,R051,02-03-01,LEXINGTON AVE,NQR456,BMT,05/01/2015,16:00:00,REGULAR,4685143,7369475
167,A002,R051,02-03-01,LEXINGTON AVE,NQR456,BMT,05/01/2015,20:00:00,REGULAR,4685875,7369845
204,A002,R051,02-03-02,LEXINGTON AVE,NQR456,BMT,05/01/2015,00:00:00,REGULAR,4416403,6080309
205,A002,R051,02-03-02,LEXINGTON AVE,NQR456,BMT,05/01/2015,04:00:00,REGULAR,4416424,6080327
206,A002,R051,02-03-02,LEXINGTON AVE,NQR456,BMT,05/01/2015,08:00:00,REGULAR,4416467,6080700
207,A002,R051,02-03-02,LEXINGTON AVE,NQR456,BMT,05/01/2015,12:00:00,REGULAR,4416661,6081512
208,A002,R051,02-03-02,LEXINGTON AVE,NQR456,BMT,05/01/2015,16:00:00,REGULAR,4416902,6081916
209,A002,R051,02-03-02,LEXINGTON AVE,NQR456,BMT,05/01/2015,20:00:00,REGULAR,4417557,6082534
...,...,...,...,...,...,...,...,...,...,...,...
176454,TRAM2,R469,00-00-01,RIT-ROOSEVELT,R,RIT,05/01/2015,01:00:00,REGULAR,998137,10262
176455,TRAM2,R469,00-00-01,RIT-ROOSEVELT,R,RIT,05/01/2015,05:00:00,REGULAR,998142,10263
176456,TRAM2,R469,00-00-01,RIT-ROOSEVELT,R,RIT,05/01/2015,09:00:00,REGULAR,998603,10266
176457,TRAM2,R469,00-00-01,RIT-ROOSEVELT,R,RIT,05/01/2015,13:00:00,REGULAR,999096,10267
176458,TRAM2,R469,00-00-01,RIT-ROOSEVELT,R,RIT,05/01/2015,17:00:00,REGULAR,999469,10270
176459,TRAM2,R469,00-00-01,RIT-ROOSEVELT,R,RIT,05/01/2015,21:00:00,REGULAR,999750,10273
176496,TRAM2,R469,00-03-00,RIT-ROOSEVELT,R,RIT,05/01/2015,01:00:00,REGULAR,210386,8673
176497,TRAM2,R469,00-03-00,RIT-ROOSEVELT,R,RIT,05/01/2015,05:00:00,REGULAR,210386,8675
176498,TRAM2,R469,00-03-00,RIT-ROOSEVELT,R,RIT,05/01/2015,09:00:00,REGULAR,210407,8675
176499,TRAM2,R469,00-03-00,RIT-ROOSEVELT,R,RIT,05/01/2015,13:00:00,REGULAR,210500,8676
176500,TRAM2,R469,00-03-00,RIT-ROOSEVELT,R,RIT,05/01/2015,17:00:00,REGULAR,210623,8676
176501,TRAM2,R469,00-03-00,RIT-ROOSEVELT,R,RIT,05/01/2015,21:00:00,REGULAR,210683,8676
176538,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,05/01/2015,01:00:00,REGULAR,2508770,372348
176539,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,05/01/2015,05:00:00,REGULAR,2508770,372350
176540,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,05/01/2015,09:00:00,REGULAR,2508796,372350
176541,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,05/01/2015,13:00:00,REGULAR,2508886,372355
176542,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,05/01/2015,17:00:00,REGULAR,2509032,372359
176543,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,05/01/2015,21:00:00,REGULAR,2509105,372364
176580,TRAM2,R469,00-05-00,RIT-ROOSEVELT,R,RIT,05/01/2015,01:00:00,REGULAR,1788,62
176581,TRAM2,R469,00-05-00,RIT-ROOSEVELT,R,RIT,05/01/2015,05:00:00,REGULAR,1788,62
176582,TRAM2,R469,00-05-00,RIT-ROOSEVELT,R,RIT,05/01/2015,09:00:00,REGULAR,1788,62
176583,TRAM2,R469,00-05-00,RIT-ROOSEVELT,R,RIT,05/01/2015,13:00:00,REGULAR,1789,62
176584,TRAM2,R469,00-05-00,RIT-ROOSEVELT,R,RIT,05/01/2015,17:00:00,REGULAR,1789,62
176585,TRAM2,R469,00-05-00,RIT-ROOSEVELT,R,RIT,05/01/2015,21:00:00,REGULAR,1789,62
176622,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/01/2015,01:00:00,REGULAR,5554,205
176623,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/01/2015,05:00:00,REGULAR,5554,205
176624,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/01/2015,09:00:00,REGULAR,5554,205
176625,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/01/2015,13:00:00,REGULAR,5554,205
176626,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/01/2015,17:00:00,REGULAR,5554,205
176627,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/01/2015,21:00:00,REGULAR,5554,205

From the documentation on [MTA](http://web.mta.info/developers/resources/nyct/turnstile/ts_Field_Description.txt), here's what the variables mean:



````
======================================
Field Description

C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS


C/A      = Control Area (A002) - Booth
UNIT     = Remote Unit for a station (R051)
SCP      = Subunit Channel Position represents an specific address for a device (02-00-00)
STATION  = Represents the station name the device is located at
LINENAME = Represents all train lines that can be boarded at this station
           Normally lines are represented by one character.  LINENAME 456NQR repersents train server for 4, 5, 6, N, Q, and R trains.
DIVISION = Represents the Line originally the station belonged to BMT, IRT, or IND   
DATE     = Represents the date (MM-DD-YY)
TIME     = Represents the time (hh:mm:ss) for a scheduled audit event
DESc     = Represent the "REGULAR" scheduled audit event (Normally occurs every 4 hours)
           1. Audits may occur more that 4 hours due to planning, or troubleshooting activities. 
           2. Additionally, there may be a "RECOVR AUD" entry: This refers to a missed audit that was recovered. 
ENTRIES  = The comulative entry register value for a device
EXIST    = The cumulative exit register value for a device



Example:
The data below shows the entry/exit register values for one turnstile at control area (A002) from 09/27/14 at 00:00 hours to 09/29/14 at 00:00 hours


C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
A002,R051,02-00-00,LEXINGTON AVE,456NQR,BMT,09-27-14,00:00:00,REGULAR,0004800073,0001629137,
A002,R051,02-00-00,LEXINGTON AVE,456NQR,BMT,09-27-14,04:00:00,REGULAR,0004800125,0001629149,
A002,R051,02-00-00,LEXINGTON AVE,456NQR,BMT,09-27-14,08:00:00,REGULAR,0004800146,0001629162,
A002,R051,02-00-00,LEXINGTON AVE,456NQR,BMT,09-27-14,12:00:00,REGULAR,0004800264,0001629264,
A002,R051,02-00-00,LEXINGTON AVE,456NQR,BMT,09-27-14,16:00:00,REGULAR,0004800523,0001629328,
A002,R051,02-00-00,LEXINGTON AVE,456NQR,BMT,09-27-14,20:00:00,REGULAR,0004800924,0001629371,
A002,R051,02-00-00,LEXINGTON AVE,456NQR,BMT,09-28-14,00:00:00,REGULAR,0004801104,0001629395,
A002,R051,02-00-00,LEXINGTON AVE,456NQR,BMT,09-28-14,04:00:00,REGULAR,0004801149,0001629402,
A002,R051,02-00-00,LEXINGTON AVE,456NQR,BMT,09-28-14,08:00:00,REGULAR,0004801168,0001629414,
A002,R051,02-00-00,LEXINGTON AVE,456NQR,BMT,09-28-14,12:00:00,REGULAR,0004801304,0001629463,
A002,R051,02-00-00,LEXINGTON AVE,456NQR,BMT,09-28-14,16:00:00,REGULAR,0004801463,0001629521,
A002,R051,02-00-00,LEXINGTON AVE,456NQR,BMT,09-28-14,20:00:00,REGULAR,0004801737,0001629555,
A002,R051,02-00-00,LEXINGTON AVE,456NQR,BMT,09-29-14,00:00:00,REGULAR,0004801836,0001629574,
======================================
````

In [50]:
df1.groupby(['C/A', 'UNIT', 'SCP']).first()

                           STATION LINENAME DIVISION        DATE      TIME  \
C/A   UNIT SCP
A002  R051 02-00-00  LEXINGTON AVE   NQR456      BMT  05/01/2015  00:00:00
           02-00-01  LEXINGTON AVE   NQR456      BMT  05/01/2015  00:00:00
           02-03-00  LEXINGTON AVE   NQR456      BMT  05/01/2015  00:00:00
           02-03-01  LEXINGTON AVE   NQR456      BMT  05/01/2015  00:00:00
           02-03-02  LEXINGTON AVE   NQR456      BMT  05/01/2015  00:00:00
           02-03-03  LEXINGTON AVE   NQR456      BMT  05/01/2015  00:00:00
           02-03-04  LEXINGTON AVE   NQR456      BMT  05/01/2015  00:00:00
           02-03-05  LEXINGTON AVE   NQR456      BMT  05/01/2015  00:00:00
           02-03-06  LEXINGTON AVE   NQR456      BMT  05/01/2015  00:00:00
           02-05-00  LEXINGTON AVE   NQR456      BMT  05/01/2015  00:00:00
           02-05-01  LEXINGTON AVE   NQR456      BMT  05/01/2015  00:00:00
           02-06-00  LEXINGTON AVE   NQR456      BMT  05/01/2015  00:00:00
A006  R079 00-00-00    5 AVE-59 ST      NQR      BMT  05/01/2015  02:00:00
           00-00-01    5 AVE-59 ST      NQR      BMT  05/01/2015  02:00:00
           00-00-02    5 AVE-59 ST      NQR      BMT  05/01/2015  02:00:00
           00-00-03    5 AVE-59 ST      NQR      BMT  05/01/2015  02:00:00
           00-00-04    5 AVE-59 ST      NQR      BMT  05/01/2015  02:00:00
           00-03-00    5 AVE-59 ST      NQR      BMT  05/01/2015  02:00:00
           00-03-01    5 AVE-59 ST      NQR      BMT  05/01/2015  02:00:00
           00-03-02    5 AVE-59 ST      NQR      BMT  05/01/2015  02:00:00
A007  R079 01-05-00    5 AVE-59 ST      NQR      BMT  05/01/2015  02:00:00
           01-05-01    5 AVE-59 ST      NQR      BMT  05/01/2015  02:00:00
           01-06-00    5 AVE-59 ST      NQR      BMT  05/01/2015  02:00:00
           01-06-01    5 AVE-59 ST      NQR      BMT  05/01/2015  02:00:00
           01-06-02    5 AVE-59 ST      NQR      BMT  05/01/2015  02:00:00
           01-06-03    5 AVE-59 ST      NQR      BMT  05/01/2015  02:00:00
A010  R080 00-00-00    57 ST-7 AVE      NQR      BMT  05/01/2015  00:00:00
           00-00-01    57 ST-7 AVE      NQR      BMT  05/01/2015  00:00:00
           00-00-02    57 ST-7 AVE      NQR      BMT  05/01/2015  00:00:00
           00-00-03    57 ST-7 AVE      NQR      BMT  05/01/2015  00:00:00
...                            ...      ...      ...         ...       ...
S101A R070 01-00-00     ST. GEORGE        1      SRT  05/01/2015  00:00:00
           01-00-01     ST. GEORGE        1      SRT  05/01/2015  00:00:00
           01-00-02     ST. GEORGE        1      SRT  05/01/2015  00:00:00
           01-00-03     ST. GEORGE        1      SRT  05/01/2015  00:00:00
           01-00-04     ST. GEORGE        1      SRT  05/01/2015  00:00:00
           01-00-05     ST. GEORGE        1      SRT  05/01/2015  00:00:00
           01-00-06     ST. GEORGE        1      SRT  05/01/2015  00:00:00
           01-03-00     ST. GEORGE        1      SRT  05/01/2015  00:00:00
           01-03-01     ST. GEORGE        1      SRT  05/01/2015  00:00:00
           01-03-02     ST. GEORGE        1      SRT  05/01/2015  00:00:00
           01-03-03     ST. GEORGE        1      SRT  05/01/2015  00:00:00
           01-05-00     ST. GEORGE        1      SRT  05/01/2015  00:00:00
           01-05-01     ST. GEORGE        1      SRT  05/01/2015  00:00:00
S102  R165 00-00-00  TOMPKINSVILLE        1      SRT  05/01/2015  02:00:00
           00-00-01  TOMPKINSVILLE        1      SRT  05/01/2015  02:00:00
           00-03-00  TOMPKINSVILLE        1      SRT  05/01/2015  02:00:00
           00-03-01  TOMPKINSVILLE        1      SRT  05/01/2015  02:00:00
           00-03-02  TOMPKINSVILLE        1      SRT  05/01/2015  02:00:00
           00-05-00  TOMPKINSVILLE        1      SRT  05/01/2015  02:00:00
           00-05-01  TOMPKINSVILLE        1      SRT  05/01/2015  02:00:00
TRAM1 R468 00-00-00  RIT-MANHATTAN        R      RIT  05/01/2015  01:00:00
           00-00-01  RIT-MANHATTAN        R      RIT  05/01/2015  01:00:00
           00-00-02  RIT-MANHATTAN        R      RIT  05/01/2015  01:00:00
           00-05-00  RIT-MANHATTAN        R      RIT  05/01/2015  01:00:00
TRAM2 R469 00-00-00  RIT-ROOSEVELT        R      RIT  05/01/2015  01:00:00
           00-00-01  RIT-ROOSEVELT        R      RIT  05/01/2015  01:00:00
           00-03-00  RIT-ROOSEVELT        R      RIT  05/01/2015  01:00:00
           00-03-01  RIT-ROOSEVELT        R      RIT  05/01/2015  01:00:00
           00-05-00  RIT-ROOSEVELT        R      RIT  05/01/2015  01:00:00
           00-05-01  RIT-ROOSEVELT        R      RIT  05/01/2015  01:00:00

                        DESC   ENTRIES     EXITS
C/A   UNIT SCP
A002  R051 02-00-00  REGULAR   5115461   1732389
           02-00-01  REGULAR   4738746   1034160
           02-03-00  REGULAR    488569   1842807
           02-03-01  REGULAR   4684600   7368230
           02-03-02  REGULAR   4416403   6080309
           02-03-03  REGULAR   4055563   4949206
           02-03-04  REGULAR   5145422   2905435
           02-03-05  REGULAR   8372370   1198590
           02-03-06  REGULAR   6528438    462214
           02-05-00  REGULAR      1156         0
           02-05-01  REGULAR         0       608
           02-06-00  REGULAR   5666085    132929
A006  R079 00-00-00  REGULAR   1613154   2912639
           00-00-01  REGULAR   2893331   1945340
           00-00-02  REGULAR   6882032   3079558
           00-00-03  REGULAR   1620408    622184
           00-00-04  REGULAR   6359830   2837921
           00-03-00  REGULAR   7383159   3369264
           00-03-01  REGULAR   1126248    591109
           00-03-02  REGULAR  12640991  13414122
A007  R079 01-05-00  REGULAR      2541         0
           01-05-01  REGULAR         1      1018
           01-06-00  REGULAR   2614795   5914687
           01-06-01  REGULAR   4074421   7103426
           01-06-02  REGULAR   3277529   1525001
           01-06-03  REGULAR   5023731   2059123
A010  R080 00-00-00  REGULAR    150712     89872
           00-00-01  REGULAR  12255586   4540224
           00-00-02  REGULAR   8940356   3458684
           00-00-03  REGULAR   1868729    920022
...                      ...       ...       ...
S101A R070 01-00-00  REGULAR   2567713     23410
           01-00-01  REGULAR    284529         5
           01-00-02  REGULAR   2834752     20020
           01-00-03  REGULAR   1876816       332
           01-00-04  REGULAR   1731313     29093
           01-00-05  REGULAR    259496         9
           01-00-06  REGULAR   1016100       254
           01-03-00  REGULAR    949912       124
           01-03-01  REGULAR    811384       136
           01-03-02  REGULAR     56954         9
           01-03-03  REGULAR    581454       141
           01-05-00  REGULAR       538         0
           01-05-01  REGULAR       315         0
S102  R165 00-00-00  REGULAR    350018         7
           00-00-01  REGULAR    323272      4282
           00-03-00  REGULAR    327817        10
           00-03-01  REGULAR   7298050   2410678
           00-03-02  REGULAR    133608         2
           00-05-00  REGULAR       642         0
           00-05-01  REGULAR       632         0
TRAM1 R468 00-00-00  REGULAR   1518457     34766
           00-00-01  REGULAR    847114      8174
           00-00-02  REGULAR    885714     12919
           00-05-00  REGULAR       951         0
TRAM2 R469 00-00-00  REGULAR   2455762     35555
           00-00-01  REGULAR    998137     10262
           00-03-00  REGULAR    210386      8673
           00-03-01  REGULAR   2508770    372348
           00-05-00  REGULAR      1788        62
           00-05-01  REGULAR      5554       205

[4227 rows x 8 columns]

In [51]:
df1.groupby(['STATION', 'C/A', 'UNIT', 'SCP']).first()

                                    LINENAME DIVISION        DATE      TIME  \
STATION         C/A   UNIT SCP
1 AVE           H007  R248 00-00-00        L      BMT  05/01/2015  00:00:00
                           00-00-01        L      BMT  05/01/2015  00:00:00
                           00-03-00        L      BMT  05/01/2015  00:00:00
                           00-03-01        L      BMT  05/01/2015  00:00:00
                           00-03-02        L      BMT  05/01/2015  00:00:00
                H008  R248 01-00-00        L      BMT  05/01/2015  00:00:00
                           01-00-01        L      BMT  05/01/2015  00:00:00
                           01-00-02        L      BMT  05/01/2015  00:00:00
                           01-00-03        L      BMT  05/01/2015  00:00:00
                           01-00-04        L      BMT  05/01/2015  00:00:00
103 ST          N037  R314 00-00-00       BC      IND  05/01/2015  01:00:00
                           00-00-01       BC      IND  05/01/2015  01:00:00
                           00-00-02       BC      IND  05/01/2015  01:00:00
                R170  R191 00-00-00        1      IRT  05/01/2015  01:00:00
                           00-00-01        1      IRT  05/01/2015  01:00:00
                           00-00-02        1      IRT  05/01/2015  01:00:00
                           00-03-00        1      IRT  05/01/2015  01:00:00
                           00-03-01        1      IRT  05/01/2015  01:00:00
                           00-03-02        1      IRT  05/01/2015  01:00:00
                R252  R180 00-00-00        6      IRT  05/01/2015  01:00:00
                           00-00-01        6      IRT  05/01/2015  01:00:00
                           00-00-02        6      IRT  05/01/2015  01:00:00
                           00-00-03        6      IRT  05/01/2015  01:00:00
                           00-00-04        6      IRT  05/01/2015  01:00:00
                           00-00-05        6      IRT  05/01/2015  01:00:00
103 ST-CORONA   R529  R208 00-00-00        7      IRT  05/01/2015  00:00:00
                           00-00-01        7      IRT  05/01/2015  00:00:00
                           00-00-02        7      IRT  05/01/2015  00:00:00
                           00-00-03        7      IRT  05/01/2015  00:00:00
                           00-00-04        7      IRT  05/01/2015  00:00:00
...                                      ...      ...         ...       ...
WOODHAVEN BLVD  N329  R201 00-03-04       MR      IND  05/01/2015  01:00:00
                N329A R201 01-05-00       MR      IND  05/01/2015  01:00:00
                           01-05-01       MR      IND  05/01/2015  01:00:00
                           01-06-00       MR      IND  05/01/2015  01:00:00
                           01-06-01       MR      IND  05/01/2015  01:00:00
WOODLAWN ROAD   R294  R052 00-00-00        4      IRT  05/01/2015  00:00:00
                           00-00-01        4      IRT  05/01/2015  00:00:00
                           00-00-02        4      IRT  05/01/2015  00:00:00
                           00-00-03        4      IRT  05/01/2015  00:00:00
                           00-00-04        4      IRT  05/01/2015  00:00:00
WORLD TRADE CTR N094  R029 01-00-00    ACE23      IND  05/01/2015  00:00:00
                           01-00-01    ACE23      IND  05/01/2015  00:00:00
                           01-00-02    ACE23      IND  05/01/2015  00:00:00
                           01-00-03    ACE23      IND  05/01/2015  00:00:00
                           01-05-00    ACE23      IND  05/01/2015  00:00:00
                           01-05-01    ACE23      IND  05/01/2015  00:00:00
                           01-06-00    ACE23      IND  05/01/2015  00:00:00
                           01-06-01    ACE23      IND  05/01/2015  00:00:00
                           01-06-02    ACE23      IND  05/01/2015  00:00:00
                           01-06-03    ACE23      IND  05/01/2015  00:00:00
                           01-06-04    ACE23      IND  05/01/2015  00:00:00
YORK ST         N530  R301 00-00-00        F      IND  05/01/2015  01:00:00
                           00-00-01        F      IND  05/01/2015  01:00:00
                           00-00-02        F      IND  05/01/2015  01:00:00
ZEREGA AVE      R419  R326 00-00-00        6      IRT  05/01/2015  01:00:00
                           00-00-01        6      IRT  05/01/2015  01:00:00
                           00-03-00        6      IRT  05/01/2015  01:00:00
                           00-03-01        6      IRT  05/01/2015  01:00:00
                           00-05-00        6      IRT  05/01/2015  01:00:00
                           00-05-01        6      IRT  05/01/2015  01:00:00

                                        DESC    ENTRIES      EXITS
STATION         C/A   UNIT SCP
1 AVE           H007  R248 00-00-00  REGULAR    9636849   10474803
                           00-00-01  REGULAR   53693468   35100442
                           00-03-00  REGULAR  369197853  385949680
                           00-03-01  REGULAR    1285455     498574
                           00-03-02  REGULAR    4636101     383085
                H008  R248 01-00-00  REGULAR     528593    7653492
                           01-00-01  REGULAR    1702809    9761787
                           01-00-02  REGULAR    7053057   17351378
                           01-00-03  REGULAR   13423110   11072491
                           01-00-04  REGULAR    3224499     353041
103 ST          N037  R314 00-00-00  REGULAR   11108148    9654242
                           00-00-01  REGULAR    8667034    4973161
                           00-00-02  REGULAR    3906044    6777388
                R170  R191 00-00-00  REGULAR   11553954    4124227
                           00-00-01  REGULAR   10561756    3154197
                           00-00-02  REGULAR   13356537    3915132
                           00-03-00  REGULAR    6443626    3540965
                           00-03-01  REGULAR   10272386    8376022
                           00-03-02  REGULAR    8579151    8222248
                R252  R180 00-00-00  REGULAR    7622822    7398166
                           00-00-01  REGULAR     914512     317650
                           00-00-02  REGULAR   11393129    4953174
                           00-00-03  REGULAR    7109004    3813852
                           00-00-04  REGULAR    2611758    2279811
                           00-00-05  REGULAR    6707432   23268215
103 ST-CORONA   R529  R208 00-00-00  REGULAR   13140094   20844105
                           00-00-01  REGULAR   12162426   10089696
                           00-00-02  REGULAR    8582614    3982019
                           00-00-03  REGULAR    9495093    2535450
                           00-00-04  REGULAR     737743     249136
...                                      ...        ...        ...
WOODHAVEN BLVD  N329  R201 00-03-04  REGULAR    1510692    2000669
                N329A R201 01-05-00  REGULAR        340          0
                           01-05-01  REGULAR          8       1044
                           01-06-00  REGULAR    9583672    3489432
                           01-06-01  REGULAR    6475493    2834847
WOODLAWN ROAD   R294  R052 00-00-00  REGULAR    5539765    5486486
                           00-00-01  REGULAR    6268454    2620954
                           00-00-02  REGULAR    3183758     854848
                           00-00-03  REGULAR    4669849    1080954
                           00-00-04  REGULAR    5639603     627716
WORLD TRADE CTR N094  R029 01-00-00  REGULAR    3330192    1253891
                           01-00-01  REGULAR     394790     292723
                           01-00-02  REGULAR    4182318    2771077
                           01-00-03  REGULAR    2853173    1673854
                           01-05-00  REGULAR        674          9
                           01-05-01  REGULAR          0        428
                           01-06-00  REGULAR    7586737    3309571
                           01-06-01  REGULAR    6019765     535378
                           01-06-02  REGULAR    2480431    2707516
                           01-06-03  REGULAR    7006180    5269542
                           01-06-04  REGULAR    1624354     840652
YORK ST         N530  R301 00-00-00  REGULAR   10514278   20116779
                           00-00-01  REGULAR   10662599    5769615
                           00-00-02  REGULAR    8078760    1283668
ZEREGA AVE      R419  R326 00-00-00  REGULAR    1238578    2371893
                           00-00-01  REGULAR       1161       2646
                           00-03-00  REGULAR       3044       1508
                           00-03-01  REGULAR       3502        776
                           00-05-00  REGULAR          6          0
                           00-05-01  REGULAR         39         22

[4227 rows x 7 columns]

Basically, for each identifier ('C/A', 'UNIT', 'SCP') I want to have hourly entries and exits that are initialized at 0 at the start of the day (00:00:00) and are updated on 4 hour intervals by the difference of the cumulative values.

In [52]:
filter_first = (df1['C/A'] == 'A002') & (df1['UNIT'] == 'R051') & (df1['SCP'] == '02-00-00')

In [53]:
df10 = df1[filter_first]
df10 = df1.reset_index()
del df10['index']

In [54]:
df10['ENTRIES_hourly'] = df10['ENTRIES'] - df10['ENTRIES'].shift(1)
df10['ENTRIES_hourly'] = df10['ENTRIES_hourly'].fillna(0)

df10['EXITS_hourly'] = df10['EXITS'] - df10['EXITS'].shift(1)
df10['EXITS_hourly'] = df10['EXITS_hourly'].fillna(0)

In [55]:
df10.head(10)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,ENTRIES_hourly,EXITS_hourly
0,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,00:00:00,REGULAR,5115461,1732389,0,0
1,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,04:00:00,REGULAR,5115480,1732394,19,5
2,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,08:00:00,REGULAR,5115524,1732482,44,88
3,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,12:00:00,REGULAR,5115678,1732624,154,142
4,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,16:00:00,REGULAR,5115998,1732647,320,23
5,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,20:00:00,REGULAR,5116883,1732666,885,19
6,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/01/2015,00:00:00,REGULAR,4738746,1034160,-378137,-698506
7,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/01/2015,04:00:00,REGULAR,4738761,1034161,15,1
8,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/01/2015,08:00:00,REGULAR,4738804,1034199,43,38
9,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/01/2015,12:00:00,REGULAR,4738969,1034274,165,75

Ok, it worked for one turnstile on one date. Now it needs to work on them ALL on that date, and then on ALL turnstiles on ALL of the dates.

In [5]:
=================================================================================

SyntaxError: invalid syntax (<ipython-input-5-871e92fec658>, line 1)

In [26]:
# Load in a new, recent record.
newfile = 'data/turnstile/150502.txt'

#df = pd.read_csv(newfile, sep=r"\s+")
#df = pd.read_csv(newfile, skipinitialspace=True)
df1 = pd.read_csv(newfile)
df1.columns = ['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME', 'DESC', 'ENTRIES', 'EXITS']
df1.head(2)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/25/2015,00:00:00,REGULAR,5106770,1729635
1,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/25/2015,04:00:00,REGULAR,5106810,1729649

In [27]:
newfile = 'data/turnstile/150509.txt'
df2 = pd.read_csv(newfile)
df2.columns = ['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME', 'DESC', 'ENTRIES', 'EXITS']
df2.head(2)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/02/2015,00:00:00,REGULAR,5117130,1732680
1,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/02/2015,04:00:00,REGULAR,5117157,1732685

It seems like C/A, UNIT and SCP are the 3 identifiers that I need to run through in order to get every turnstile. 

For each turnstile's first entry on May 1st I need to set its entrties and exits to 0. Then calculate the rest of the entries and exits for the day by taking the difference of consecutive ones. Finally for the remaining days I will need to look up what the count was for the last entry on the previous day.

I think a dictionary is the best way to do this.

In [140]:
df_testing= df1[df1['DATE'] == '05/01/2015'][:10]
df_testing = df_testing.reset_index()
df_testing = df_testing.drop('index', axis=1)
df_testing

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,00:00:00,REGULAR,5115461,1732389
1,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,04:00:00,REGULAR,5115480,1732394
2,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,08:00:00,REGULAR,5115524,1732482
3,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,12:00:00,REGULAR,5115678,1732624
4,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,16:00:00,REGULAR,5115998,1732647
5,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,20:00:00,REGULAR,5116883,1732666
6,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/01/2015,00:00:00,REGULAR,4738746,1034160
7,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/01/2015,04:00:00,REGULAR,4738761,1034161
8,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/01/2015,08:00:00,REGULAR,4738804,1034199
9,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/01/2015,12:00:00,REGULAR,4738969,1034274

In [143]:
df = df_testing

In [145]:
def cumulative_to_hourly(df):
    for i, entry in df_testing.iterrows():
        id_ = entry['C/A'], entry['UNIT'], entry['SCP']
        print "{} \t {} \t {} \t {}".format(entry['index'], id_, entry['DATE'], entry['TIME'])
        
        
        #If first entry of May 1st.
        if (entry['DATE'] == '05/01/2015' and entry['TIME'] == '00:00:00') :
            
            df.loc[i, 'HOURLY_ENTRIES'] = 0
            df.loc[i, 'HOURLY_EXITS'] = 0
            
        
        # Otherwise, look up previous entry for that turnstile.
        else:
            # Get all entries for that turnstile
            previous_entries = df[(df['C/A']==('A002')) & (df['UNIT']==('R051')) & (df['SCP']==('02-00-00')) & (df.index < i)]
            j = max(previous_entries.index)
            #print previous_entries
            print i,j,previous_entries.index
        
            
            df.loc[i, 'HOURLY_ENTRIES'] = df.loc[i, 'ENTRIES'] - df.loc[j, 'ENTRIES']
            df.loc[i, 'HOURLY_EXITS'] = df.loc[i, 'EXITS'] - df.loc[j, 'EXITS']

In [146]:
cumulative_to_hourly(df_testing)
df_testing

KeyError: 'index'

That worked. Now time to do it with multiple dates.

In [277]:
df1 = df1[df1.DATE == '05/01/2015']
df2 = df2[df2.DATE == '05/02/2015']
df_testing_2 = pd.concat([df1[:3], df2[:3]])
df_testing_2 = df_testing_2.reset_index()

df_testing_2

,index,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,36,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,00:00:00,REGULAR,5115461,1732389
1,37,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,04:00:00,REGULAR,5115480,1732394
2,38,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,08:00:00,REGULAR,5115524,1732482
3,0,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/02/2015,00:00:00,REGULAR,5117130,1732680
4,1,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/02/2015,04:00:00,REGULAR,5117157,1732685
5,2,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/02/2015,08:00:00,REGULAR,5117176,1732693

In [16]:
df1.loc[0,"ENTRIES_HOURLY"] = "asd"

In [17]:
df1

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,ENTRIES_HOURLY
0,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/25/2015,00:00:00,REGULAR,5106770,1729635,asd
1,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/25/2015,04:00:00,REGULAR,5106810,1729649,NaN
2,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/25/2015,08:00:00,REGULAR,5106835,1729680,NaN
3,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/25/2015,12:00:00,REGULAR,5106961,1729784,NaN
4,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/25/2015,16:00:00,REGULAR,5107250,1729858,NaN
5,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/25/2015,20:00:00,REGULAR,5107620,1729914,NaN
6,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/26/2015,00:00:00,REGULAR,5107793,1729955,NaN
7,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/26/2015,04:00:00,REGULAR,5107815,1729964,NaN
8,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/26/2015,08:00:00,REGULAR,5107844,1729991,NaN
9,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/26/2015,12:00:00,REGULAR,5107912,1730068,NaN
10,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/26/2015,16:00:00,REGULAR,5108106,1730135,NaN
11,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/26/2015,20:00:00,REGULAR,5108367,1730193,NaN
12,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/27/2015,00:00:00,REGULAR,5108492,1730231,NaN
13,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/27/2015,04:00:00,REGULAR,5108503,1730233,NaN
14,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/27/2015,08:00:00,REGULAR,5108556,1730352,NaN
15,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/27/2015,12:00:00,REGULAR,5108735,1730660,NaN
16,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/27/2015,16:00:00,REGULAR,5109072,1730750,NaN
17,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/27/2015,20:00:00,REGULAR,5110015,1730829,NaN
18,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/28/2015,00:00:00,REGULAR,5110238,1730851,NaN
19,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/28/2015,04:00:00,REGULAR,5110238,1730851,NaN
20,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/28/2015,08:00:00,REGULAR,5110290,1730980,NaN
21,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/28/2015,12:00:00,REGULAR,5110433,1731299,NaN
22,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/28/2015,16:00:00,REGULAR,5110753,1731356,NaN
23,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/28/2015,20:00:00,REGULAR,5111702,1731428,NaN
24,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/29/2015,00:00:00,REGULAR,5111954,1731465,NaN
25,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/29/2015,04:00:00,REGULAR,5111967,1731468,NaN
26,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/29/2015,08:00:00,REGULAR,5112022,1731562,NaN
27,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/29/2015,12:00:00,REGULAR,5112208,1731867,NaN
28,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/29/2015,16:00:00,REGULAR,5112549,1731932,NaN
29,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/29/2015,20:00:00,REGULAR,5113477,1732007,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
192358,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,04/27/2015,01:00:00,REGULAR,5554,205,NaN
192359,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,04/27/2015,05:00:00,REGULAR,5554,205,NaN
192360,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,04/27/2015,09:00:00,REGULAR,5554,205,NaN
192361,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,04/27/2015,13:00:00,REGULAR,5554,205,NaN
192362,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,04/27/2015,17:00:00,REGULAR,5554,205,NaN
192363,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,04/27/2015,21:00:00,REGULAR,5554,205,NaN
192364,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,04/28/2015,01:00:00,REGULAR,5554,205,NaN
192365,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,04/28/2015,05:00:00,REGULAR,5554,205,NaN
192366,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,04/28/2015,09:00:00,REGULAR,5554,205,NaN
192367,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,04/28/2015,13:00:00,REGULAR,5554,205,NaN
192368,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,04/28/2015,17:00:00,REGULAR,5554,205,NaN
192369,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,04/28/2015,21:00:00,REGULAR,5554,205,NaN
192370,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,04/29/2015,01:00:00,REGULAR,5554,205,NaN
192371,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,04/29/2015,05:00:00,REGULAR,5554,205,NaN
192372,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,04/29/2015,09:00:00,REGULAR,5554,205,NaN
192373,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,04/29/2015,13:00:00,REGULAR,5554,205,NaN
192374,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,04/29/2015,17:00:00,REGULAR,5554,205,NaN
192375,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,04/29/2015,21:00:00,REGULAR,5554,205,NaN
192376,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,04/30/2015,01:00:00,REGULAR,5554,205,NaN
192377,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,04/30/2015,05:00:00,REGULAR,5554,205,NaN
192378,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,04/30/2015,09:00:00,REGULAR,5554,205,NaN
192379,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,04/30/2015,13:00:00,REGULAR,5554,205,NaN
192380,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,04/30/2015,17:00:00,REGULAR,5554,205,NaN
192381,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,04/30/2015,21:00:00,REGULAR,5554,205,NaN
192382,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/01/2015,01:00:00,REGULAR,5554,205,NaN
192383,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/01/2015,05:00:00,REGULAR,5554,205,NaN
192384,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/01/2015,09:00:00,REGULAR,5554,205,NaN
192385,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/01/2015,13:00:00,REGULAR,5554,205,NaN
192386,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/01/2015,17:00:00,REGULAR,5554,205,NaN
192387,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/01/2015,21:00:00,REGULAR,5554,205,NaN

In [278]:
cumulative_to_hourly(df_testing_2)

A002-R051-02-00-00 	 05/01/2015 	 00:00:00
HOURLY ENTRIES = 	 0 	 0
CUMULATIVE ENTRIES = [0L, 0L]

A002-R051-02-00-00 	 05/01/2015 	 04:00:00
HOURLY ENTRIES = 	 19 	 5
CUMULATIVE ENTRIES = [19L, 5L]

A002-R051-02-00-00 	 05/01/2015 	 08:00:00
HOURLY ENTRIES = 	 6 	 78
CUMULATIVE ENTRIES = [25L, 83L]

A002-R051-02-00-00 	 05/01/2015 	 12:00:00
HOURLY ENTRIES = 	 85 	 -29
CUMULATIVE ENTRIES = [110L, 54L]

A002-R051-02-00-00 	 05/01/2015 	 16:00:00
HOURLY ENTRIES = 	 56 	 -173
CUMULATIVE ENTRIES = [166L, -119L]

A002-R051-02-00-00 	 05/01/2015 	 20:00:00
HOURLY ENTRIES = 	 399 	 115
CUMULATIVE ENTRIES = [565L, -4L]

A002-R051-02-00-01 	 05/01/2015 	 00:00:00
HOURLY ENTRIES = 	 0.0 	 0.0
CUMULATIVE ENTRIES = [0L, 0L]

A002-R051-02-00-01 	 05/01/2015 	 04:00:00
HOURLY ENTRIES = 	 15.0 	 1.0
CUMULATIVE ENTRIES = [15L, 1L]

A002-R051-02-00-01 	 05/01/2015 	 08:00:00
HOURLY ENTRIES = 	 13.0 	 36.0
CUMULATIVE ENTRIES = [28L, 37L]

A002-R051-02-00-01 	 05/01/2015 	 12:00:00
HOURLY ENTRIES = 	 94.0 	 0.0
CUMULATIVE ENTRIES = [122L, 37L]

A002-R051-02-00-01 	 05/01/2015 	 16:00:00
HOURLY ENTRIES = 	 7.0 	 -90.0
CUMULATIVE ENTRIES = [129L, -53L]

A002-R051-02-00-01 	 05/01/2015 	 20:00:00
HOURLY ENTRIES = 	 322.0 	 38.0
CUMULATIVE ENTRIES = [451L, -15L]

A002-R051-02-03-00 	 05/01/2015 	 00:00:00
HOURLY ENTRIES = 	 0.0 	 0.0
CUMULATIVE ENTRIES = [0L, 0L]

A002-R051-02-03-00 	 05/01/2015 	 04:00:00
HOURLY ENTRIES = 	 8.0 	 10.0
CUMULATIVE ENTRIES = [8L, 10L]

A002-R051-02-03-00 	 05/01/2015 	 08:00:00
HOURLY ENTRIES = 	 0.0 	 241.0
CUMULATIVE ENTRIES = [8L, 251L]

A002-R051-02-03-00 	 05/01/2015 	 12:00:00
HOURLY ENTRIES = 	 38.0 	 -29.0
CUMULATIVE ENTRIES = [46L, 222L]

A002-R051-02-03-00 	 05/01/2015 	 16:00:00
HOURLY ENTRIES = 	 39.0 	 -540.0
CUMULATIVE ENTRIES = [85L, -318L]

A002-R051-02-03-00 	 05/01/2015 	 20:00:00
HOURLY ENTRIES = 	 159.0 	 398.0
CUMULATIVE ENTRIES = [244L, 80L]

A002-R051-02-03-01 	 05/01/2015 	 00:00:00
HOURLY ENTRIES = 	 0.0 	 0.0
CUMULATIVE ENTRIES = [0L, 0L]

A002-R051-02-03-01 	 05/01/2015 	 04:00:00
HOURLY ENTRIES = 	 36.0 	 14.0
CUMULATIVE ENTRIES = [36L, 14L]

{'A002-R051-02-00-00': [565L, -4L],
 'A002-R051-02-00-01': [451L, -15L],
 'A002-R051-02-03-00': [244L, 80L],
 'A002-R051-02-03-01': [36L, 14L]}

In [276]:
df_testing_2

,index,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,36,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,00:00:00,REGULAR,0,0
1,37,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,04:00:00,REGULAR,19,5
2,38,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,08:00:00,REGULAR,6,78
3,0,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/02/2015,00:00:00,REGULAR,85,-29
4,1,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/02/2015,04:00:00,REGULAR,56,-173
5,2,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/02/2015,08:00:00,REGULAR,399,115
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15,1
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13,36
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94,0
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,-90
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,322,38
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,10
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,241
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38,-29
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39,-540
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,159,398
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36,14

In [248]:
df_testing_2[(df_testing_2.DATE == ('05/01/2015')) | (df_testing_2.DATE == ('05/02/2015'))]

,index,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,36,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,00:00:00,REGULAR,5115461,1732389
1,37,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,04:00:00,REGULAR,5115480,1732394
2,38,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,08:00:00,REGULAR,5115524,1732482
3,39,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,12:00:00,REGULAR,5115678,1732624
4,40,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,16:00:00,REGULAR,5115998,1732647
5,41,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,20:00:00,REGULAR,5116883,1732666
6,78,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/01/2015,00:00:00,REGULAR,4738746,1034160
7,79,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/01/2015,04:00:00,REGULAR,4738761,1034161
8,80,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/01/2015,08:00:00,REGULAR,4738804,1034199
9,81,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/01/2015,12:00:00,REGULAR,4738969,1034274
10,0,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/02/2015,00:00:00,REGULAR,5117130,1732680
11,1,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/02/2015,04:00:00,REGULAR,5117157,1732685
12,2,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/02/2015,08:00:00,REGULAR,5117176,1732693
13,3,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/02/2015,12:00:00,REGULAR,5117185,1732696
14,4,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/02/2015,16:00:00,REGULAR,5117403,1732748
15,5,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/02/2015,20:00:00,REGULAR,5117774,1732779
16,42,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/02/2015,00:00:00,REGULAR,4740213,1034311
17,43,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/02/2015,04:00:00,REGULAR,4740230,1034312
18,44,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/02/2015,08:00:00,REGULAR,4740242,1034312
19,45,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/02/2015,12:00:00,REGULAR,4740246,1034316

### Different Types

There are different types of "DESC" according to the documentation.

===========================
````
Descn Possible Values (Events):
REGULAR - Regular scheduled audit event
NO-VAL LGN - Not Valid logon
LGF-MAN - Logoff Manual
LGF-DR CLS - Logoff Door Closed
LGF-SHUTDN - Logoff Shutdown
TS BRD CHG - Turnstile Board Change
TS VLT OPN - Turnstile Vault Open
RECOVR AUD - Recovery audit - if REGULAR was not delivered due to communications problems
````
===========================

In [216]:
df.DESC.unique()

array(['REGULAR', 'RECOVR AUD'], dtype=object)

In [224]:
df[df.DESC == 'RECOVR AUD'].head(5)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
1113,A010,R080,00-00-00,57 ST-7 AVE,NQR,BMT,04/28/2015,12:00:00,RECOVR AUD,143112,85613
1155,A010,R080,00-00-01,57 ST-7 AVE,NQR,BMT,04/28/2015,12:00:00,RECOVR AUD,12250490,4537590
1197,A010,R080,00-00-02,57 ST-7 AVE,NQR,BMT,04/28/2015,12:00:00,RECOVR AUD,8936510,3456835
1239,A010,R080,00-00-03,57 ST-7 AVE,NQR,BMT,04/28/2015,12:00:00,RECOVR AUD,1865400,918583
1281,A010,R080,00-00-04,57 ST-7 AVE,NQR,BMT,04/28/2015,12:00:00,RECOVR AUD,2550498,1228635

In [222]:
df.iloc[[1110, 1112, 1113, 1114, 1115]]

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
1110,A010,R080,00-00-00,57 ST-7 AVE,NQR,BMT,04/28/2015,00:00:00,REGULAR,142599,84827
1112,A010,R080,00-00-00,57 ST-7 AVE,NQR,BMT,04/28/2015,08:00:00,REGULAR,142744,85024
1113,A010,R080,00-00-00,57 ST-7 AVE,NQR,BMT,04/28/2015,12:00:00,RECOVR AUD,143112,85613
1114,A010,R080,00-00-00,57 ST-7 AVE,NQR,BMT,04/28/2015,16:00:00,REGULAR,143638,85933
1115,A010,R080,00-00-00,57 ST-7 AVE,NQR,BMT,04/28/2015,20:00:00,REGULAR,144687,86304

In this dataset there are only two different types, REGULAR and RECOVR AUD. Fortunately RECOVR AUD does not require any further thought as it gives the same reading as REGULAR, but as a backup communication.

In [23]:
df_turnstile.shape

(7343, 8)

###Checking Udacity

In [28]:
uda = pd.read_csv('data/turnstile_data_master_with_weather.csv')

In [29]:
uda.shape

(131951, 22)

In [30]:
uda.head(100)

,Unnamed: 0,UNIT,DATEn,TIMEn,Hour,DESCn,ENTRIESn_hourly,EXITSn_hourly,maxpressurei,maxdewpti,...,meandewpti,meanpressurei,fog,rain,meanwindspdi,mintempi,meantempi,maxtempi,precipi,thunder
0,0,R001,2011-05-01,01:00:00,1,REGULAR,0,0,30.31,42,...,39,30.27,0,0,5,50,60,69,0,0
1,1,R001,2011-05-01,05:00:00,5,REGULAR,217,553,30.31,42,...,39,30.27,0,0,5,50,60,69,0,0
2,2,R001,2011-05-01,09:00:00,9,REGULAR,890,1262,30.31,42,...,39,30.27,0,0,5,50,60,69,0,0
3,3,R001,2011-05-01,13:00:00,13,REGULAR,2451,3708,30.31,42,...,39,30.27,0,0,5,50,60,69,0,0
4,4,R001,2011-05-01,17:00:00,17,REGULAR,4400,2501,30.31,42,...,39,30.27,0,0,5,50,60,69,0,0
5,5,R001,2011-05-01,21:00:00,21,REGULAR,3372,2122,30.31,42,...,39,30.27,0,0,5,50,60,69,0,0
6,6,R002,2011-05-01,01:00:00,1,REGULAR,0,0,30.31,42,...,39,30.27,0,0,5,50,60,69,0,0
7,7,R002,2011-05-01,05:00:00,5,REGULAR,42,66,30.31,42,...,39,30.27,0,0,5,50,60,69,0,0
8,8,R002,2011-05-01,09:00:00,9,REGULAR,50,125,30.31,42,...,39,30.27,0,0,5,50,60,69,0,0
9,9,R002,2011-05-01,13:00:00,13,REGULAR,316,716,30.31,42,...,39,30.27,0,0,5,50,60,69,0,0
10,10,R002,2011-05-01,17:00:00,17,REGULAR,633,968,30.31,42,...,39,30.27,0,0,5,50,60,69,0,0
11,11,R002,2011-05-01,21:00:00,21,REGULAR,639,566,30.31,42,...,39,30.27,0,0,5,50,60,69,0,0
12,12,R003,2011-05-01,00:00:00,0,REGULAR,0,0,30.31,42,...,39,30.27,0,0,5,50,60,69,0,0
13,13,R003,2011-05-01,04:00:00,4,REGULAR,0,0,30.31,42,...,39,30.27,0,0,5,50,60,69,0,0
14,14,R003,2011-05-01,12:00:00,12,REGULAR,0,0,30.31,42,...,39,30.27,0,0,5,50,60,69,0,0
15,15,R003,2011-05-01,16:00:00,16,REGULAR,0,0,30.31,42,...,39,30.27,0,0,5,50,60,69,0,0
16,16,R003,2011-05-01,20:00:00,20,REGULAR,0,0,30.31,42,...,39,30.27,0,0,5,50,60,69,0,0
17,17,R004,2011-05-01,00:00:00,0,REGULAR,0,0,30.31,42,...,39,30.27,0,0,5,50,60,69,0,0
18,18,R004,2011-05-01,04:00:00,4,REGULAR,0,0,30.31,42,...,39,30.27,0,0,5,50,60,69,0,0
19,19,R004,2011-05-01,08:00:00,8,REGULAR,0,0,30.31,42,...,39,30.27,0,0,5,50,60,69,0,0
20,20,R004,2011-05-01,12:00:00,12,REGULAR,0,0,30.31,42,...,39,30.27,0,0,5,50,60,69,0,0
21,21,R004,2011-05-01,16:00:00,16,REGULAR,0,0,30.31,42,...,39,30.27,0,0,5,50,60,69,0,0
22,22,R004,2011-05-01,20:00:00,20,REGULAR,0,0,30.31,42,...,39,30.27,0,0,5,50,60,69,0,0
23,23,R005,2011-05-01,00:00:00,0,REGULAR,0,0,30.31,42,...,39,30.27,0,0,5,50,60,69,0,0
24,24,R005,2011-05-01,04:00:00,4,REGULAR,0,2,30.31,42,...,39,30.27,0,0,5,50,60,69,0,0
25,25,R005,2011-05-01,12:00:00,12,REGULAR,0,2,30.31,42,...,39,30.27,0,0,5,50,60,69,0,0
26,26,R005,2011-05-01,16:00:00,16,REGULAR,1,7,30.31,42,...,39,30.27,0,0,5,50,60,69,0,0
27,27,R005,2011-05-01,20:00:00,20,REGULAR,0,0,30.31,42,...,39,30.27,0,0,5,50,60,69,0,0
28,28,R006,2011-05-01,00:00:00,0,REGULAR,0,0,30.31,42,...,39,30.27,0,0,5,50,60,69,0,0
29,29,R006,2011-05-01,04:00:00,4,REGULAR,0,1,30.31,42,...,39,30.27,0,0,5,50,60,69,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,70,R013,2011-05-01,12:00:00,12,REGULAR,677,1229,30.31,42,...,39,30.27,0,0,5,50,60,69,0,0
71,71,R013,2011-05-01,16:00:00,16,REGULAR,1973,2219,30.31,42,...,39,30.27,0,0,5,50,60,69,0,0
72,72,R013,2011-05-01,20:00:00,20,REGULAR,3186,1496,30.31,42,...,39,30.27,0,0,5,50,60,69,0,0
73,73,R014,2011-05-01,01:00:00,1,REGULAR,0,0,30.31,42,...,39,30.27,0,0,5,50,60,69,0,0
74,74,R014,2011-05-01,05:00:00,5,REGULAR,28,48,30.31,42,...,39,30.27,0,0,5,50,60,69,0,0
75,75,R014,2011-05-01,09:00:00,9,REGULAR,59,211,30.31,42,...,39,30.27,0,0,5,50,60,69,0,0
76,76,R014,2011-05-01,13:00:00,13,REGULAR,237,615,30.31,42,...,39,30.27,0,0,5,50,60,69,0,0
77,77,R014,2011-05-01,17:00:00,17,REGULAR,618,714,30.31,42,...,39,30.27,0,0,5,50,60,69,0,0
78,78,R014,2011-05-01,21:00:00,21,REGULAR,663,390,30.31,42,...,39,30.27,0,0,5,50,60,69,0,0
79,79,R015,2011-05-01,02:00:00,2,REGULAR,0,0,30.31,42,...,39,30.27,0,0,5,50,60,69,0,0
80,80,R015,2011-05-01,06:00:00,6,REGULAR,52,45,30.31,42,...,39,30.27,0,0,5,50,60,69,0,0
81,81,R015,2011-05-01,10:00:00,10,REGULAR,124,585,30.31,42,...,39,30.27,0,0,5,50,60,69,0,0
82,82,R015,2011-05-01,14:00:00,14,REGULAR,847,1802,30.31,42,...,39,30.27,0,0,5,50,60,69,0,0
83,83,R015,2011-05-01,18:00:00,18,REGULAR,1616,1364,30.31,42,...,39,30.27,0,0,5,50,60,69,0,0
84,84,R015,2011-05-01,22:00:00,22,REGULAR,1270,513,30.31,42,...,39,30.27,0,0,5,50,60,69,0,0
85,85,R016,2011-05-01,00:00:00,0,REGULAR,0,0,30.31,42,...,39,30.27,0,0,5,50,60,69,0,0
86,86,R016,2011-05-01,04:00:00,4,REGULAR,175,100,30.31,42,...,39,30.27,0,0,5,50,60,69,0,0
87,87,R016,2011-05-01,12:00:00,12,REGULAR,375,592,30.31,42,...,39,30.27,0,0,5,50,60,69,0,0
88,88,R016,2011-05-01,16:00:00,16,REGULAR,587,620,30.31,42,...,39,30.27,0,0,5,50,60,69,0,0
89,89,R016,2011-05-01,20:00:00,20,REGULAR,674,570,30.31,42,...,39,30.27,0,0,5,50,60,69,0,0
90,90,R017,2011-05-01,00:00:00,0,REGULAR,0,0,30.31,42,...,39,30.27,0,0,5,50,60,69,0,0
91,91,R017,2011-05-01,04:00:00,4,REGULAR,491,342,30.31,42,...,39,30.27,0,0,5,50,60,69,0,0
92,92,R017,2011-05-01,08:00:00,8,REGULAR,346,398,30.31,42,...,39,30.27,0,0,5,50,60,69,0,0
93,93,R017,2011-05-01,12:00:00,12,REGULAR,1353,1855,30.31,42,...,39,30.27,0,0,5,50,60,69,0,0
94,94,R017,2011-05-01,16:00:00,16,REGULAR,2103,2025,30.31,42,...,39,30.27,0,0,5,50,60,69,0,0
95,95,R017,2011-05-01,20:00:00,20,REGULAR,2445,1933,30.31,42,...,39,30.27,0,0,5,50,60,69,0,0
96,96,R018,2011-05-01,00:00:00,0,REGULAR,0,0,30.31,42,...,39,30.27,0,0,5,50,60,69,0,0
97,97,R018,2011-05-01,04:00:00,4,REGULAR,1262,3131,30.31,42,...,39,30.27,0,0,5,50,60,69,0,0
98,98,R018,2011-05-01,08:00:00,8,REGULAR,1655,460,30.31,42,...,39,30.27,0,0,5,50,60,69,0,0
99,99,R018,2011-05-01,12:00:00,12,REGULAR,9285,4252,30.31,42,...,39,30.27,0,0,5,50,60,69,0,0

In [34]:
uda[(uda.DATEn == '2011-05-01') & (uda.UNIT == "R001")]

,Unnamed: 0,UNIT,DATEn,TIMEn,Hour,DESCn,ENTRIESn_hourly,EXITSn_hourly,maxpressurei,maxdewpti,...,meandewpti,meanpressurei,fog,rain,meanwindspdi,mintempi,meantempi,maxtempi,precipi,thunder
4433,4433,R001,2011-05-02,01:00:00,1,REGULAR,804,1042,30.31,50,...,45,30.22,0,0,5,50,57,63,0,0
4434,4434,R001,2011-05-02,05:00:00,5,REGULAR,175,235,30.31,50,...,45,30.22,0,0,5,50,57,63,0,0
4435,4435,R001,2011-05-02,09:00:00,9,REGULAR,6909,6451,30.31,50,...,45,30.22,0,0,5,50,57,63,0,0
4436,4436,R001,2011-05-02,13:00:00,13,REGULAR,4857,8294,30.31,50,...,45,30.22,0,0,5,50,57,63,0,0
4437,4437,R001,2011-05-02,17:00:00,17,REGULAR,7030,5390,30.31,50,...,45,30.22,0,0,5,50,57,63,0,0
4438,4438,R001,2011-05-02,21:00:00,21,REGULAR,9192,5886,30.31,50,...,45,30.22,0,0,5,50,57,63,0,0

In [35]:
uda[(uda.DATEn == '2011-05-02') & (uda.UNIT == "R001")]

,Unnamed: 0,UNIT,DATEn,TIMEn,Hour,DESCn,ENTRIESn_hourly,EXITSn_hourly,maxpressurei,maxdewpti,...,meandewpti,meanpressurei,fog,rain,meanwindspdi,mintempi,meantempi,maxtempi,precipi,thunder
4433,4433,R001,2011-05-02,01:00:00,1,REGULAR,804,1042,30.31,50,...,45,30.22,0,0,5,50,57,63,0,0
4434,4434,R001,2011-05-02,05:00:00,5,REGULAR,175,235,30.31,50,...,45,30.22,0,0,5,50,57,63,0,0
4435,4435,R001,2011-05-02,09:00:00,9,REGULAR,6909,6451,30.31,50,...,45,30.22,0,0,5,50,57,63,0,0
4436,4436,R001,2011-05-02,13:00:00,13,REGULAR,4857,8294,30.31,50,...,45,30.22,0,0,5,50,57,63,0,0
4437,4437,R001,2011-05-02,17:00:00,17,REGULAR,7030,5390,30.31,50,...,45,30.22,0,0,5,50,57,63,0,0
4438,4438,R001,2011-05-02,21:00:00,21,REGULAR,9192,5886,30.31,50,...,45,30.22,0,0,5,50,57,63,0,0

In [110]:
a.groupby(['UNIT']).first()

,Unnamed: 0,DATEn,TIMEn,Hour,DESCn,ENTRIESn_hourly,EXITSn_hourly,maxpressurei,maxdewpti,mindewpti,...,meandewpti,meanpressurei,fog,rain,meanwindspdi,mintempi,meantempi,maxtempi,precipi,thunder
UNIT,,,,,,,,,,,,,,,,,,,,,
R001,0,2011-05-01,01:00:00,1,REGULAR,0,0,30.31,42,35,...,39,30.27,0,0,5,50,60,69,0,0
R002,6,2011-05-01,01:00:00,1,REGULAR,0,0,30.31,42,35,...,39,30.27,0,0,5,50,60,69,0,0
R003,12,2011-05-01,00:00:00,0,REGULAR,0,0,30.31,42,35,...,39,30.27,0,0,5,50,60,69,0,0
R004,17,2011-05-01,00:00:00,0,REGULAR,0,0,30.31,42,35,...,39,30.27,0,0,5,50,60,69,0,0
R005,23,2011-05-01,00:00:00,0,REGULAR,0,0,30.31,42,35,...,39,30.27,0,0,5,50,60,69,0,0
R006,28,2011-05-01,00:00:00,0,REGULAR,0,0,30.31,42,35,...,39,30.27,0,0,5,50,60,69,0,0
R007,34,2011-05-01,00:00:00,0,REGULAR,0,0,30.31,42,35,...,39,30.27,0,0,5,50,60,69,0,0
R008,38,2011-05-01,00:00:00,0,REGULAR,0,0,30.31,42,35,...,39,30.27,0,0,5,50,60,69,0,0
R009,43,2011-05-01,00:00:00,0,REGULAR,0,0,30.31,42,35,...,39,30.27,0,0,5,50,60,69,0,0
R010,48,2011-05-01,02:00:00,2,REGULAR,0,0,30.31,42,35,...,39,30.27,0,0,5,50,60,69,0,0
R011,54,2011-05-01,00:00:00,0,REGULAR,0,0,30.31,42,35,...,39,30.27,0,0,5,50,60,69,0,0
R012,60,2011-05-01,00:00:00,0,REGULAR,0,0,30.31,42,35,...,39,30.27,0,0,5,50,60,69,0,0
R013,67,2011-05-01,00:00:00,0,REGULAR,0,0,30.31,42,35,...,39,30.27,0,0,5,50,60,69,0,0
R014,73,2011-05-01,01:00:00,1,REGULAR,0,0,30.31,42,35,...,39,30.27,0,0,5,50,60,69,0,0
R015,79,2011-05-01,02:00:00,2,REGULAR,0,0,30.31,42,35,...,39,30.27,0,0,5,50,60,69,0,0
R016,85,2011-05-01,00:00:00,0,REGULAR,0,0,30.31,42,35,...,39,30.27,0,0,5,50,60,69,0,0
R017,90,2011-05-01,00:00:00,0,REGULAR,0,0,30.31,42,35,...,39,30.27,0,0,5,50,60,69,0,0
R018,96,2011-05-01,00:00:00,0,REGULAR,0,0,30.31,42,35,...,39,30.27,0,0,5,50,60,69,0,0
R019,102,2011-05-01,00:00:00,0,REGULAR,0,0,30.31,42,35,...,39,30.27,0,0,5,50,60,69,0,0
R020,108,2011-05-01,00:00:00,0,REGULAR,0,0,30.31,42,35,...,39,30.27,0,0,5,50,60,69,0,0
R021,114,2011-05-01,00:00:00,0,REGULAR,0,0,30.31,42,35,...,39,30.27,0,0,5,50,60,69,0,0
R022,120,2011-05-01,00:00:00,0,REGULAR,0,0,30.31,42,35,...,39,30.27,0,0,5,50,60,69,0,0
R023,126,2011-05-01,00:00:00,0,REGULAR,0,0,30.31,42,35,...,39,30.27,0,0,5,50,60,69,0,0
R024,132,2011-05-01,00:00:00,0,REGULAR,0,0,30.31,42,35,...,39,30.27,0,0,5,50,60,69,0,0
R025,138,2011-05-01,00:00:00,0,REGULAR,0,0,30.31,42,35,...,39,30.27,0,0,5,50,60,69,0,0
R027,144,2011-05-01,00:00:00,0,REGULAR,0,0,30.31,42,35,...,39,30.27,0,0,5,50,60,69,0,0
R028,150,2011-05-01,03:00:00,3,REGULAR,0,0,30.31,42,35,...,39,30.27,0,0,5,50,60,69,0,0
R029,156,2011-05-01,00:00:00,0,REGULAR,0,0,30.31,42,35,...,39,30.27,0,0,5,50,60,69,0,0
R030,162,2011-05-01,00:00:00,0,REGULAR,0,0,30.31,42,35,...,39,30.27,0,0,5,50,60,69,0,0
R031,171,2011-05-01,00:00:00,0,REGULAR,0,0,30.31,42,35,...,39,30.27,0,0,5,50,60,69,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
R450,2610,2011-05-01,01:00:00,1,REGULAR,0,0,30.31,42,35,...,39,30.27,0,0,5,50,60,69,0,0
R451,2616,2011-05-01,01:00:00,1,REGULAR,0,0,30.31,42,35,...,39,30.27,0,0,5,50,60,69,0,0
R452,2622,2011-05-01,01:00:00,1,REGULAR,0,0,30.31,42,35,...,39,30.27,0,0,5,50,60,69,0,0
R453,2628,2011-05-01,00:00:00,0,REGULAR,0,0,30.31,42,35,...,39,30.27,0,0,5,50,60,69,0,0
R454,2634,2011-05-01,00:00:00,0,REGULAR,0,0,30.31,42,35,...,39,30.27,0,0,5,50,60,69,0,0
R455,2639,2011-05-01,00:00:00,0,REGULAR,0,0,30.31,42,35,...,39,30.27,0,0,5,50,60,69,0,0
R456,2645,2011-05-01,00:00:00,0,REGULAR,0,0,30.31,42,35,...,39,30.27,0,0,5,50,60,69,0,0
R459,59954,2011-05-14,00:00:00,0,REGULAR,0,0,29.89,55,50,...,53,29.83,0,0,5,57,61,64,0,0
R460,2651,2011-05-01,01:00:00,1,REGULAR,0,0,30.31,42,35,...,39,30.27,0,0,5,50,60,69,0,0
R461,2659,2011-05-01,01:00:00,1,REGULAR,0,0,30.31,42,35,...,39,30.27,0,0,5,50,60,69,0,0
R462,2665,2011-05-01,01:00:00,1,REGULAR,0,0,30.31,42,35,...,39,30.27,0,0,5,50,60,69,0,0
R463,2671,2011-05-01,01:00:00,1,REGULAR,0,0,30.31,42,35,...,39,30.27,0,0,5,50,60,69,0,0
R464,2677,2011-05-01,00:00:00,0,REGULAR,0,0,30.31,42,35,...,39,30.27,0,0,5,50,60,69,0,0
R468,2683,2011-05-01,01:00:00,1,REGULAR,0,0,30.31,42,35,...,39,30.27,0,0,5,50,60,69,0,0
R469,2689,2011-05-01,01:00:00,1,REGULAR,0,0,30.31,42,35,...,39,30.27,0,0,5,50,60,69,0,0
R535,2695,2011-05-01,01:00:00,1,REGULAR,0,0,30.31,42,35,...,39,30.27,0,0,5,50,60,69,0,0
R536,2701,2011-05-01,01:00:00,1,REGULAR,0,0,30.31,42,35,...,39,30.27,0,0,5,50,60,69,0,0
R540,2710,2011-05-01,00:12:40,0,REGULAR,0,0,30.31,42,35,...,39,30.27,0,0,5,50,60,69,0,0
R541,2868,2011-05-01,00:15:02,0,REGULAR,0,0,30.31,42,35,...,39,30.27,0,0,5,50,60,69,0,0
R542,3071,2011-05-01,00:17:02,0,REGULAR,0,0,30.31,42,35,...,39,30.27,0,0,5,50,60,69,0,0
R543,3120,2011-05-01,00:13:59,0,REGULAR,0,0,30.31,42,35,...,39,30.27,0,0,5,50,60,69,0,0
R544,3269,2011-05-01,00:10:12,0,REGULAR,0,0,30.31,42,35,...,39,30.27,0,0,5,50,60,69,0,0
R545,3339,2011-05-01,00:40:18,0,REGULAR,0,0,30.31,42,35,...,39,30.27,0,0,5,50,60,69,0,0
R546,3401,2011-05-01,00:11:54,0,REGULAR,0,0,30.31,42,35,...,39,30.27,0,0,5,50,60,69,0,0
R547,3464,2011-05-01,00:45:34,0,REGULAR,0,0,30.31,42,35,...,39,30.27,0,0,5,50,60,69,0,0
R548,3491,2011-05-01,01:55:28,1,REGULAR,0,0,30.31,42,35,...,39,30.27,0,0,5,50,60,69,0,0
R549,3510,2011-05-01,00:02:10,0,REGULAR,0,0,30.31,42,35,...,39,30.27,0,0,5,50,60,69,0,0
R550,3930,2011-05-01,00:16:22,0,REGULAR,0,0,30.31,42,35,...,39,30.27,0,0,5,50,60,69,0,0
R551,4195,2011-05-01,00:23:07,0,REGULAR,0,0,30.31,42,35,...,39,30.27,0,0,5,50,60,69,0,0
R552,4308,2011-05-01,00:04:54,0,REGULAR,0,0,30.31,42,35,...,39,30.27,0,0,5,50,60,69,0,0

## Scraping Files

I'm choosing the last complete month to do analysis on which is May 2015. The MTA collect data weekly, so I'm also going to take the last week of April, and the first month of June.

The files are available for download here: http://web.mta.info/developers/turnstile.html

I'll be using the python module Beautiful Soup to parse the html in order to find the relevant hyperlinks quickly.

There was an odd error with beautiful soup - some byte code on the page couldn't be converted to ASCII characters. After a quick google, I found the following fix on stackoverflow.

In [79]:
# Work around for byte-ASCII error in bs.
import sys  

reload(sys)  
sys.setdefaultencoding('utf8')

In [26]:
# URL of MTA data.
URL = 'http://web.mta.info/developers/turnstile.html'

# Parse the html using bs to find the hyperlinks.
r = requests.get(URL)
soup = bs(r.text)
hyperlinks = soup.findAll('a')

# Initialize array to hold all of the URLs on the page.
urls = []

# Loop through the hyperlinks, parsing just the links themselves.
for each in hyperlinks:
    link = each.get('href')
    
    # Only add links which are in the data directory, and are text files.
    if link and link.endswith('.txt') and link.startswith('data/'):
        urls.append(link)

In [80]:
# Initialize array to hold all of the dates from the URLs collected.
dates = []

# Split the URLs up in order to get just the dates.
for each in urls:
    filename = each.split('/')[-1]
    filename.find('turnstile_')
    index = filename.find('turnstile_')
    date = filename[index+len('turnstile_'):].split('.')[0]
    dates.append(date)

In [28]:
# Initialize set to store the dates to download.
dates_to_download = Set([])

# Loop through the dates, and take the appropriate ones.
for i, date in enumerate(dates):
    # Only 2015.
    if date[:2] == '15':
        # Take all of May, the last week of April, and the first week of June.
        if date[2:4] == '05':
            dates_to_download.update([dates[i-1], dates[i], dates[i+1]])

# Convert the set to an array.            
dates_to_download = list(dates_to_download)

In [125]:
dates_to_download = sorted(dates_to_download)
dates_to_download

['150425', '150502', '150509', '150516', '150523', '150530', '150606']

In [15]:
l = len(dates_to_download)

# Loop through the dates, downloading the corresponding file.
for i in range(l):
    date = dates_to_download[i]
    download = 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_{0}.txt'.format(date)

## Combining Files

Once all the neccessary subway data has been downloaded, it's time to combine it in some fashion. One possbility is to load all the files into invididual dataframes using pandas, and then merging them and writing. Instead I decided to open the files one by one and write the contents into a new file, as this requires less memory usage.

In [153]:
def combine_turnstile_data(filenames):
    """
    Takes the turnstile filenames and writes them one by one into a new
    file.
    """
    
    # Open a new master file, and write in the header row.
    with open('updated_data/master_file.txt', 'w') as master_file:
        master_file.write('C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATEn,time_n,DESCn,ENTRIESn,EXITSn\n')
    
        # Open all the files and write thme into master file.
        for filename in filenames:
            with open('data/turnstile/{0}.txt'.format(filename),'rb') as f:
                for row in f:
                    # Ignore the the header row.
                    if row.startswith('C/A'):
                        continue
                    master_file.write(row)

In [154]:
combine_turnstile_data(dates_to_download)

In [155]:
df_turnstile_master = pd.read_csv('updated_data/master_file.txt')

In [156]:
df_turnstile_master.head(1)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATEn,time_n,DESCn,ENTRIESn,EXITSn
0,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/18/2015,00:00:00,REGULAR,5095940,1725998

##Preparing the Data

###Tallying the counts

Additionally the original data set gives running totals for each turnstile instead of just a number of entries or exits, so to get anything useful out of it, I'll need to do some subtraction. Simply subtract the entry tally for one timestamp from the previous reading.

In [157]:
df_turnstile_master['ENTRIESn_hourly'] = df_turnstile_master['ENTRIESn'] - df_turnstile_master['ENTRIESn'].shift(1)
df_turnstile_master['ENTRIESn_hourly'] = df_turnstile_master['ENTRIESn_hourly'].fillna(0)

df_turnstile_master['EXITSn_hourly'] = df_turnstile_master['EXITSn'] - df_turnstile_master['EXITSn'].shift(1)
df_turnstile_master['EXITSn_hourly'] = df_turnstile_master['EXITSn_hourly'].fillna(0)
    
df_turnstile_master.head(3)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATEn,time_n,DESCn,ENTRIESn,EXITSn,ENTRIESn_hourly,EXITSn_hourly
0,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/18/2015,00:00:00,REGULAR,5095940,1725998,0,0
1,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/18/2015,04:00:00,REGULAR,5095981,1726007,41,9
2,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/18/2015,08:00:00,REGULAR,5096001,1726039,20,32

In [182]:
df_turnstile_master[df_turnstile_master.EXITSn_hourly < 0]

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,time_n,DESCn,ENTRIESn_hourly,EXITSn_hourly,date_n,weekday
204,A011,R080,01-00-00,57 ST-7 AVE,NQR,BMT,00:00:00,REGULAR,-575,-167,2015-05-01,4
205,A011,R080,01-00-00,57 ST-7 AVE,NQR,BMT,04:00:00,REGULAR,-97,-46,2015-05-01,4
206,A011,R080,01-00-00,57 ST-7 AVE,NQR,BMT,08:00:00,REGULAR,-105,-489,2015-05-01,4
207,A011,R080,01-00-00,57 ST-7 AVE,NQR,BMT,12:00:00,REGULAR,-465,-1293,2015-05-01,4
208,A011,R080,01-00-00,57 ST-7 AVE,NQR,BMT,16:00:00,REGULAR,-639,-449,2015-05-01,4
209,A011,R080,01-00-00,57 ST-7 AVE,NQR,BMT,20:00:00,REGULAR,-1298,-495,2015-05-01,4
222,A011,R080,01-00-03,57 ST-7 AVE,NQR,BMT,00:00:00,REGULAR,252,-158,2015-05-01,4
223,A011,R080,01-00-03,57 ST-7 AVE,NQR,BMT,04:00:00,REGULAR,50,-8,2015-05-01,4
224,A011,R080,01-00-03,57 ST-7 AVE,NQR,BMT,08:00:00,REGULAR,35,-144,2015-05-01,4
225,A011,R080,01-00-03,57 ST-7 AVE,NQR,BMT,12:00:00,REGULAR,200,-563,2015-05-01,4
226,A011,R080,01-00-03,57 ST-7 AVE,NQR,BMT,16:00:00,REGULAR,262,-275,2015-05-01,4
227,A011,R080,01-00-03,57 ST-7 AVE,NQR,BMT,20:00:00,REGULAR,728,-479,2015-05-01,4
228,A011,R080,01-00-04,57 ST-7 AVE,NQR,BMT,00:00:00,REGULAR,-316,-242,2015-05-01,4
229,A011,R080,01-00-04,57 ST-7 AVE,NQR,BMT,04:00:00,REGULAR,-74,-11,2015-05-01,4
230,A011,R080,01-00-04,57 ST-7 AVE,NQR,BMT,08:00:00,REGULAR,-43,-213,2015-05-01,4
231,A011,R080,01-00-04,57 ST-7 AVE,NQR,BMT,12:00:00,REGULAR,-235,-913,2015-05-01,4
232,A011,R080,01-00-04,57 ST-7 AVE,NQR,BMT,16:00:00,REGULAR,-364,-463,2015-05-01,4
233,A011,R080,01-00-04,57 ST-7 AVE,NQR,BMT,20:00:00,REGULAR,-945,-542,2015-05-01,4
234,A011,R080,01-00-05,57 ST-7 AVE,NQR,BMT,00:00:00,REGULAR,-414,-261,2015-05-01,4
235,A011,R080,01-00-05,57 ST-7 AVE,NQR,BMT,04:00:00,REGULAR,-98,-21,2015-05-01,4
236,A011,R080,01-00-05,57 ST-7 AVE,NQR,BMT,08:00:00,REGULAR,-50,-310,2015-05-01,4
237,A011,R080,01-00-05,57 ST-7 AVE,NQR,BMT,12:00:00,REGULAR,-226,-1043,2015-05-01,4
238,A011,R080,01-00-05,57 ST-7 AVE,NQR,BMT,16:00:00,REGULAR,-522,-457,2015-05-01,4
239,A011,R080,01-00-05,57 ST-7 AVE,NQR,BMT,20:00:00,REGULAR,-1243,-452,2015-05-01,4
1590,A069,R044,01-06-01,CHAMBERS ST,JZ456,BMT,00:00:00,REGULAR,53,-223,2015-05-01,4
1591,A069,R044,01-06-01,CHAMBERS ST,JZ456,BMT,04:00:00,REGULAR,2,-22,2015-05-01,4
1592,A069,R044,01-06-01,CHAMBERS ST,JZ456,BMT,08:00:00,REGULAR,37,-391,2015-05-01,4
1593,A069,R044,01-06-01,CHAMBERS ST,JZ456,BMT,12:00:00,REGULAR,49,-1893,2015-05-01,4
1594,A069,R044,01-06-01,CHAMBERS ST,JZ456,BMT,16:00:00,REGULAR,156,-1214,2015-05-01,4
1595,A069,R044,01-06-01,CHAMBERS ST,JZ456,BMT,20:00:00,REGULAR,248,-830,2015-05-01,4
...,...,...,...,...,...,...,...,...,...,...,...,...
849624,R726,R329,00-00-01,MORRIS PARK,5,IRT,01:00:00,REGULAR,451532,-1147225,2015-05-30,5
849648,R727,R430,00-00-00,PELHAM PARKWAY,5,IRT,01:00:00,REGULAR,-4658868,-1060176,2015-05-30,5
849696,R728,R226,00-00-01,GUN HILL ROAD,5,IRT,00:00:00,REGULAR,-3648482,-5254636,2015-05-30,5
849720,R728,R226,00-00-03,GUN HILL ROAD,5,IRT,00:00:00,REGULAR,-9542339,-1001838,2015-05-30,5
849791,R730,R431,00-00-02,DYRE AVE,5,IRT,01:00:00,REGULAR,-3745819,-5369268,2015-05-30,5
849815,R730,R431,00-00-04,DYRE AVE,5,IRT,01:00:00,REGULAR,-535988638,-537077822,2015-05-30,5
849827,S101,R070,00-00-00,ST. GEORGE,1,SRT,00:00:00,REGULAR,-1571334,-936720,2015-05-30,5
849839,S101,R070,00-00-01,ST. GEORGE,1,SRT,00:00:00,REGULAR,-74239,-61,2015-05-30,5
849851,S101,R070,00-00-02,ST. GEORGE,1,SRT,00:00:00,REGULAR,-84797,-12,2015-05-30,5
849863,S101,R070,00-00-03,ST. GEORGE,1,SRT,00:00:00,REGULAR,-74115,-20,2015-05-30,5
849875,S101,R070,00-00-04,ST. GEORGE,1,SRT,00:00:00,REGULAR,-32865,-15,2015-05-30,5
849887,S101,R070,00-00-05,ST. GEORGE,1,SRT,00:00:00,REGULAR,-242522,-27,2015-05-30,5
849911,S101,R070,00-00-07,ST. GEORGE,1,SRT,00:00:00,REGULAR,-1289729,-8242,2015-05-30,5
849935,S101,R070,00-03-00,ST. GEORGE,1,SRT,00:00:00,REGULAR,1750903,-4504,2015-05-30,5
849947,S101,R070,00-03-01,ST. GEORGE,1,SRT,00:00:00,REGULAR,-3034423,-4393,2015-05-30,5
849959,S101,R070,00-03-02,ST. GEORGE,1,SRT,00:00:00,REGULAR,34683,-4,2015-05-30,5
849995,S101A,R070,01-00-01,ST. GEORGE,1,SRT,00:00:00,REGULAR,-2281237,-23404,2015-05-30,5
850019,S101A,R070,01-00-03,ST. GEORGE,1,SRT,00:00:00,REGULAR,-958362,-19837,2015-05-30,5
850043,S101A,R070,01-00-05,ST. GEORGE,1,SRT,00:00:00,REGULAR,-1476110,-29084,2015-05-30,5
850067,S101A,R070,01-03-00,ST. GEORGE,1,SRT,00:00:00,REGULAR,-56514,-138,2015-05-30,5
850091,S101A,R070,01-03-02,ST. GEORGE,1,SRT,00:00:00,REGULAR,-765407,-130,2015-05-30,5
850115,S101A,R070,01-05-00,ST. GEORGE,1,SRT,00:00:00,REGULAR,-606355,-147,2015-05-30,5
850163,S102,R165,00-03-00,TOMPKINSVILLE,1,SRT,02:00:00,REGULAR,2929,-4273,2015-05-30,5
850187,S102,R165,00-03-02,TOMPKINSVILLE,1,SRT,02:00:00,REGULAR,-7165991,-2410676,2015-05-30,5
850199,S102,R165,00-05-00,TOMPKINSVILLE,1,SRT,02:00:00,REGULAR,-135917,-2,2015-05-30,5
850235,TRAM1,R468,00-00-01,RIT-MANHATTAN,R,RIT,01:00:00,REGULAR,-662319,-26990,2015-05-30,5
850259,TRAM1,R468,00-05-00,RIT-MANHATTAN,R,RIT,01:00:00,REGULAR,-922028,-13296,2015-05-30,5
850283,TRAM2,R469,00-00-01,RIT-ROOSEVELT,R,RIT,01:00:00,REGULAR,-1475448,-25598,2015-05-30,5
850295,TRAM2,R469,00-03-00,RIT-ROOSEVELT,R,RIT,01:00:00,REGULAR,-843556,-1937,2015-05-30,5
850319,TRAM2,R469,00-05-00,RIT-ROOSEVELT,R,RIT,01:00:00,REGULAR,-2519311,-372808,2015-05-30,5

In [186]:
df_turnstile_master.iloc[[203, 204, 205]]

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,time_n,DESCn,ENTRIESn_hourly,EXITSn_hourly,date_n,weekday
203,A010,R080,00-00-07,57 ST-7 AVE,NQR,BMT,20:00:00,REGULAR,1789,79,2015-05-01,4
204,A011,R080,01-00-00,57 ST-7 AVE,NQR,BMT,00:00:00,REGULAR,-575,-167,2015-05-01,4
205,A011,R080,01-00-00,57 ST-7 AVE,NQR,BMT,04:00:00,REGULAR,-97,-46,2015-05-01,4

### Dates

Convert to YYYY-MM-DD format.

In [158]:
# Convert to datetime.
df_turnstile_master['date_n'] = pd.to_datetime(df_turnstile_master['DATEn'])
df_turnstile_master.tail()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATEn,time_n,DESCn,ENTRIESn,EXITSn,ENTRIESn_hourly,EXITSn_hourly,date_n
1343579,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/05/2015,05:00:00,REGULAR,5554,212,0,0,2015-06-05
1343580,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/05/2015,09:00:00,REGULAR,5554,212,0,0,2015-06-05
1343581,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/05/2015,13:00:00,REGULAR,5554,212,0,0,2015-06-05
1343582,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/05/2015,17:00:00,REGULAR,5554,212,0,0,2015-06-05
1343583,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/05/2015,21:00:00,REGULAR,5554,212,0,0,2015-06-05

### Removing Non-May Dates

In [159]:
# Checking if the dates are in order.
pd.Series(df_turnstile_master.date_n.ravel()).unique()

array(['2015-04-18T01:00:00.000000000+0100',
       '2015-04-19T01:00:00.000000000+0100',
       '2015-04-20T01:00:00.000000000+0100',
       '2015-04-21T01:00:00.000000000+0100',
       '2015-04-22T01:00:00.000000000+0100',
       '2015-04-23T01:00:00.000000000+0100',
       '2015-04-24T01:00:00.000000000+0100',
       '2015-04-25T01:00:00.000000000+0100',
       '2015-04-26T01:00:00.000000000+0100',
       '2015-04-27T01:00:00.000000000+0100',
       '2015-04-28T01:00:00.000000000+0100',
       '2015-04-29T01:00:00.000000000+0100',
       '2015-04-30T01:00:00.000000000+0100',
       '2015-05-01T01:00:00.000000000+0100',
       '2015-05-02T01:00:00.000000000+0100',
       '2015-05-03T01:00:00.000000000+0100',
       '2015-05-04T01:00:00.000000000+0100',
       '2015-05-05T01:00:00.000000000+0100',
       '2015-05-06T01:00:00.000000000+0100',
       '2015-05-07T01:00:00.000000000+0100',
       '2015-05-08T01:00:00.000000000+0100',
       '2015-05-09T01:00:00.000000000+0100',
       '2015-05-10T01:00:00.000000000+0100',
       '2015-05-11T01:00:00.000000000+0100',
       '2015-05-12T01:00:00.000000000+0100',
       '2015-05-13T01:00:00.000000000+0100',
       '2015-05-14T01:00:00.000000000+0100',
       '2015-05-15T01:00:00.000000000+0100',
       '2015-05-16T01:00:00.000000000+0100',
       '2015-05-17T01:00:00.000000000+0100',
       '2015-05-18T01:00:00.000000000+0100',
       '2015-05-19T01:00:00.000000000+0100',
       '2015-05-20T01:00:00.000000000+0100',
       '2015-05-21T01:00:00.000000000+0100',
       '2015-05-22T01:00:00.000000000+0100',
       '2015-05-23T01:00:00.000000000+0100',
       '2015-05-24T01:00:00.000000000+0100',
       '2015-05-25T01:00:00.000000000+0100',
       '2015-05-26T01:00:00.000000000+0100',
       '2015-05-27T01:00:00.000000000+0100',
       '2015-05-28T01:00:00.000000000+0100',
       '2015-05-29T01:00:00.000000000+0100',
       '2015-05-30T01:00:00.000000000+0100',
       '2015-05-31T01:00:00.000000000+0100',
       '2015-06-01T01:00:00.000000000+0100',
       '2015-06-02T01:00:00.000000000+0100',
       '2015-06-03T01:00:00.000000000+0100',
       '2015-06-04T01:00:00.000000000+0100',
       '2015-06-05T01:00:00.000000000+0100'], dtype='datetime64[ns]')

Now I've got to remove the April and June dates from the data.

In [160]:
before = df_turnstile_master.shape[0]

In [161]:
# Convert the date_n col to a datetime and extract the month.
month_filter =  pd.DatetimeIndex(df_turnstile_master['date_n']).month

In [162]:
# Convert to a Series in order to do filter operation on the df.
month_filter = pd.Series(month_filter)

In [163]:
# Subset the df, based on the month being May.
df_turnstile_master = df_turnstile_master[month_filter == 5]

In [164]:
after = df_turnstile_master.shape[0]

In [165]:
before

1343584

In [166]:
after

850343

In [167]:
pd.Series(df_turnstile_master.date_n.ravel()).unique()

array(['2015-05-01T01:00:00.000000000+0100',
       '2015-05-02T01:00:00.000000000+0100',
       '2015-05-03T01:00:00.000000000+0100',
       '2015-05-04T01:00:00.000000000+0100',
       '2015-05-05T01:00:00.000000000+0100',
       '2015-05-06T01:00:00.000000000+0100',
       '2015-05-07T01:00:00.000000000+0100',
       '2015-05-08T01:00:00.000000000+0100',
       '2015-05-09T01:00:00.000000000+0100',
       '2015-05-10T01:00:00.000000000+0100',
       '2015-05-11T01:00:00.000000000+0100',
       '2015-05-12T01:00:00.000000000+0100',
       '2015-05-13T01:00:00.000000000+0100',
       '2015-05-14T01:00:00.000000000+0100',
       '2015-05-15T01:00:00.000000000+0100',
       '2015-05-16T01:00:00.000000000+0100',
       '2015-05-17T01:00:00.000000000+0100',
       '2015-05-18T01:00:00.000000000+0100',
       '2015-05-19T01:00:00.000000000+0100',
       '2015-05-20T01:00:00.000000000+0100',
       '2015-05-21T01:00:00.000000000+0100',
       '2015-05-22T01:00:00.000000000+0100',
       '2015-05-23T01:00:00.000000000+0100',
       '2015-05-24T01:00:00.000000000+0100',
       '2015-05-25T01:00:00.000000000+0100',
       '2015-05-26T01:00:00.000000000+0100',
       '2015-05-27T01:00:00.000000000+0100',
       '2015-05-28T01:00:00.000000000+0100',
       '2015-05-29T01:00:00.000000000+0100',
       '2015-05-30T01:00:00.000000000+0100',
       '2015-05-31T01:00:00.000000000+0100'], dtype='datetime64[ns]')

In [168]:
df_turnstile_master.head(1)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATEn,time_n,DESCn,ENTRIESn,EXITSn,ENTRIESn_hourly,EXITSn_hourly,date_n
191038,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,00:00:00,REGULAR,5115461,1732389,242,27,2015-05-01

### Removing Redundant Columns

In [169]:
df_turnstile_master = df_turnstile_master.drop(["DATEn", "ENTRIESn", "EXITSn"], axis=1)

In [170]:
df_turnstile_master.shape

(850343, 11)

###Adding Weekday

In [172]:
df_turnstile_master['weekday'] = df_turnstile_master['date_n'].apply(lambda x: x.weekday())

In [178]:
# Reset the index.
df_turnstile_master = df_turnstile_master.reset_index()

del df_turnstile_master['index']

##Exporting Final File

In [180]:
df_turnstile_master.to_csv('data/final/turnstile_final.csv', index=False, date_format='%Y-%m-%d')

In [179]:
df_turnstile_master.head(1)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,time_n,DESCn,ENTRIESn_hourly,EXITSn_hourly,date_n,weekday
0,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,00:00:00,REGULAR,242,27,2015-05-01,4

### Using Both Datasets

I thought about combining both dataframes into a master dataset that would contain both subway and weather information. However after I implemented it, the whole thing proved to be redundant. The weather data contains one observation for the entire day, while the subway data contains data for every 4 hours. Combining them would mean putting a lot of repeated data into each hour for each day. This only offers some ease of access by having everything in one file, but it bloats the data. So instead I'm choosing to keep them separate, and keeping the weather dataframe as a sort of lookup table to find dates corresponding to events (such as fog) and then getting the subway data for these dates.

But first I'll index them both by date to align them and make it easier for lookups.

In [184]:
df_weather = df_weather.set_index('date')
df_turnstile_master = df_turnstile_master.set_index('date')

KeyError: 'date'

In [19]:
filter_fog = df_weather['fog'] == 1
a = df_weather[filter_fog]
a.index

Index([u'2011-05-15', u'2011-05-18', u'2011-05-19', u'2011-05-23', u'2011-05-24'], dtype='object')

In [20]:
df_turnstile['2011-05-21']

,C/A,UNIT,SCP,TIMEn,DESCn,ENTRIESn_hourly,EXITSn_hourly
date,,,,,,,
2011-05-21,A002,R051,02-00-00,00:00:00,REGULAR,0,0
2011-05-21,A002,R051,02-00-00,04:00:00,REGULAR,24,3
2011-05-21,A002,R051,02-00-00,08:00:00,REGULAR,16,19
2011-05-21,A002,R051,02-00-00,12:00:00,REGULAR,75,79
2011-05-21,A002,R051,02-00-00,16:00:00,REGULAR,187,48
2011-05-21,A002,R051,02-00-00,20:00:00,REGULAR,305,35
2011-05-21,A002,R051,02-00-01,00:00:00,REGULAR,-61468,-436253
2011-05-21,A002,R051,02-00-01,04:00:00,REGULAR,36,6
2011-05-21,A002,R051,02-00-01,08:00:00,REGULAR,15,11
2011-05-21,A002,R051,02-00-01,12:00:00,REGULAR,67,50
2011-05-21,A002,R051,02-00-01,16:00:00,REGULAR,183,37
2011-05-21,A002,R051,02-00-01,20:00:00,REGULAR,270,37
2011-05-21,A002,R051,02-03-00,00:00:00,REGULAR,-1827773,3955724
2011-05-21,A002,R051,02-03-00,04:00:00,REGULAR,12,27
2011-05-21,A002,R051,02-03-00,08:00:00,REGULAR,4,61
2011-05-21,A002,R051,02-03-00,12:00:00,REGULAR,26,305
2011-05-21,A002,R051,02-03-00,16:00:00,REGULAR,63,340
2011-05-21,A002,R051,02-03-00,20:00:00,REGULAR,115,399
2011-05-21,A002,R051,02-03-01,00:00:00,REGULAR,1570397,-209962
2011-05-21,A002,R051,02-03-01,04:00:00,REGULAR,35,39
2011-05-21,A002,R051,02-03-01,08:00:00,REGULAR,27,87
2011-05-21,A002,R051,02-03-01,12:00:00,REGULAR,117,297
2011-05-21,A002,R051,02-03-01,16:00:00,REGULAR,245,403
2011-05-21,A002,R051,02-03-01,20:00:00,REGULAR,261,462
2011-05-21,A002,R051,02-03-02,00:00:00,REGULAR,-237520,-820098
2011-05-21,A002,R051,02-03-02,04:00:00,REGULAR,54,39
2011-05-21,A002,R051,02-03-02,08:00:00,REGULAR,15,82
2011-05-21,A002,R051,02-03-02,12:00:00,REGULAR,111,271
2011-05-21,A002,R051,02-03-02,16:00:00,REGULAR,239,299
2011-05-21,A002,R051,02-03-02,20:00:00,REGULAR,311,355
...,...,...,...,...,...,...,...
2011-05-21,A042,R086,01-00-00,00:00:00,REGULAR,-2081187,8243031
2011-05-21,A042,R086,01-00-00,04:00:00,REGULAR,13,50
2011-05-21,A042,R086,01-00-00,08:00:00,REGULAR,3,96
2011-05-21,A042,R086,01-00-00,12:00:00,REGULAR,36,884
2011-05-21,A042,R086,01-00-00,16:00:00,REGULAR,149,1775
2011-05-21,A042,R086,01-00-00,20:00:00,REGULAR,302,1537
2011-05-21,A042,R086,01-00-01,00:00:00,REGULAR,903503,-2332090
2011-05-21,A042,R086,01-00-01,04:00:00,REGULAR,42,51
2011-05-21,A042,R086,01-00-01,08:00:00,REGULAR,15,63
2011-05-21,A042,R086,01-00-01,12:00:00,REGULAR,59,647
2011-05-21,A042,R086,01-00-01,16:00:00,REGULAR,244,1317
2011-05-21,A042,R086,01-00-01,20:00:00,REGULAR,466,1117
2011-05-21,A042,R086,01-00-02,00:00:00,REGULAR,823562,-3032373
2011-05-21,A042,R086,01-00-02,04:00:00,REGULAR,54,30
2011-05-21,A042,R086,01-00-02,08:00:00,REGULAR,15,38
2011-05-21,A042,R086,01-00-02,12:00:00,REGULAR,83,410
2011-05-21,A042,R086,01-00-02,16:00:00,REGULAR,366,843
2011-05-21,A042,R086,01-00-02,20:00:00,REGULAR,625,687
2011-05-21,A042,R086,01-00-03,00:00:00,REGULAR,-989137,-1760958
2011-05-21,A042,R086,01-00-03,04:00:00,REGULAR,49,19
2011-05-21,A042,R086,01-00-03,08:00:00,REGULAR,12,44
2011-05-21,A042,R086,01-00-03,12:00:00,REGULAR,99,457
2011-05-21,A042,R086,01-00-03,16:00:00,REGULAR,329,990
2011-05-21,A042,R086,01-00-03,20:00:00,REGULAR,553,855
2011-05-21,A042,R086,01-00-04,00:00:00,REGULAR,-1045134,1423370
2011-05-21,A042,R086,01-00-04,04:00:00,REGULAR,25,82
2011-05-21,A042,R086,01-00-04,08:00:00,REGULAR,14,158
2011-05-21,A042,R086,01-00-04,12:00:00,REGULAR,68,1017
2011-05-21,A042,R086,01-00-04,16:00:00,REGULAR,254,1689
2011-05-21,A042,R086,01-00-04,20:00:00,REGULAR,412,1432